<div class="row">
  <label class="col-5">Spectral Type</label>
  <div class="col-7">
    <selectable id="lineRadio" name="typeRadios" type="radio">Spectral Line</selectable>
    <selectable id="contRadio" name="typeRadios" type="radio">Single Continuum</selectable>
    <selectable id="scanRadio" name="typeRadios" type="radio">Spectral Scan</selectable>
  </div>
</div>
<div class="row">
  <label class="col-5">Produce Image Sidebands (Bands 9 and 10 only)</label>
  <div class="col-7">
    <selectable type="checkbox"></selectable>
  </div>
</div>
<div class="row">
  <label class="col-5">Polarization Products Desired</label>
  <div class="col-7">
    <selectable id="xxRadio" name="polarRadios" type="radio">XX</selectable>
    <selectable id="dualRadio" name="polarRadios" type="radio">DUAL</selectable>
    <selectable id="fullRadio" name="polarRadios" type="radio">FULL</selectable>
  </div>
</div>
