<tree-root id="tree3" [focused]="true" [nodes]="nodes" [options]="options">
  <ng-template #treeNodeWrapperTemplate let-node let-index="index">
    <span
      [ngClass]="this.getIcon(node)"
      (click)="node.toggleExpanded()"
      style="padding-right: 0.25em; color: #6495ed"
      [contextMenu]="basicMenu"
      [contextMenuSubject]="node"
      [class.node-content-wrapper-active]="node.isActive"
      [class.node-content-wrapper-focused]="node.isFocused">
    </span>
    <div *ngIf="node.hasChildren || !inputs[node.data.name]; then label else input"></div>
    <ng-template #input>
      <input #inputBox
        id="{{node.data.name + 'Input'}}"
        class="rename-box"
        (dblclick)="reshow(node)"
        (keyup)="submitRename($event, node, inputBox.value)"
        title="{{node.data.name}}"
        value="{{node.data.name}}">
    </ng-template>
    <ng-template #label>
      <span
        [class]="node.data.className"
        [class.title]="true"
        (click)="node.toggleActivated()"
        (dblclick)="handleDblClick(node)"
        [contextMenu]="basicMenu"
        [contextMenuSubject]="node"
        [class.node-content-wrapper-active]="node.isActive"
        [class.node-content-wrapper-focused]="node.isFocused">
        {{ node.data.name }}
      </span>
    </ng-template>
  </ng-template>
</tree-root>

<context-menu>
  <ng-template contextMenuItem (execute)="add($event.item)">
    Add Science Goal
  </ng-template>
  <ng-template contextMenuItem let-node (execute)="copy($event.item)">
    Copy {{node.data.name}}
  </ng-template>
  <ng-template contextMenuItem (execute)="rename($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="remove($event.item)">
    Remove
  </ng-template>
</context-menu>
