<div class="row form-group">
  <label for="freqInput">
    Representative Frequency (Sky)
  </label>
  <input class="form-control form-control-sm align-self-baseline"
         id="freqInput"
         placeholder="0.000 GHz">
</div>
<div class="row form-group">
  <label>
    Antenna Diameter
  </label>
  <selectable id="12mRadio" name="antSizeRadios" type="radio">12m</selectable>
</div>
<div class="row form-group">
  <label for="beamInput">
    Antenna Beamsize (HPBW)
  </label>
  <input class="form-control form-control-sm align-self-baseline"
         id="beamInput"
         placeholder="0.000 arcsec">
</div>
<div class="row form-group">
  <selectable type="checkbox">Show Antenna Beamsize</selectable>
</div>
