<h4 class="ui dividing header">Field Centre Coordinates</h4>
<form class="ui form"
      [formGroup]="form">
  <div class="three fields">
    <div class="field">
      <label>Coord Type</label>
      <sui-radio-button name="coordTypeRadios"
                        value="RELATIVE">Relative
      </sui-radio-button>
      <sui-radio-button name="coordTypeRadios"
                        value="ABSOLUTE">Absolute
      </sui-radio-button>
    </div>

    <!--Target type radios-->
    <div class="field">
      <label>Target Type</label>
      <sui-radio-button name="targetTypeRadios"
                        value="F_MultiplePoints">Individual Pointing(s)
      </sui-radio-button>
      <sui-radio-button name="targetTypeRadios"
                        value="F_SingleRectangle">Rectangular Field
      </sui-radio-button>
    </div>

    <div class="field">
      <div *ngIf="form.value.targetType === 'F_MultiplePoints';
                  then individualStatistic
                  else rectangularStatistic"></div>
      <ng-template #individualStatistic>
        <label></label>
        <div class="ui mini horizontal statistic">
          <div class="value">{{'fix'}}</div>
          <label class="label">
            Pointings
          </label>
        </div>
      </ng-template>
      <ng-template #rectangularStatistic>
        <!--<div class="ui mini horizontal statistics">-->
        <label># Pointings</label>
          <div class="ui mini horizontal statistic">
            <div class="value">0</div>
            <div class="label">7m Array</div>
          </div>
          <div class="ui mini horizontal statistic">
            <div class="value">0</div>
            <div class="label">12m Array</div>
          </div>
        <!--</div>-->
      </ng-template>
    </div>
  </div>
</form>

<div *ngIf="form.value.targetType === 'F_MultiplePoints';
  then individualComponent
  else rectangularComponent"></div>
<ng-template #individualComponent>
  <fcc-individual [radioValue]="form.value.coordType"
                  [group]="form.controls.individual"
                  [tableRows]="tableRows"
                  [sourceCoordinatesSystemString]="sourceCoordinatesSystem"></fcc-individual>
</ng-template>
<ng-template #rectangularComponent>
  <fcc-rectangular [radioValue]="fieldCentreCoordinatesForm.value.coordType"
                   [group]="fieldCentreCoordinatesForm.controls.rectangular"></fcc-rectangular>
</ng-template>
