<h4 class="ui dividing header">Spacial Image</h4>
<div class="ui center aligned grid"
     style="padding-bottom: 1em">
  <div class="row">
    <div class="column">
      <app-pointing-canvas *ngIf="editMode"
                           (fovAddedEmitter)="toggleAddingFov()"
                           (rectAddedEmitter)="toggleAddingRect()"></app-pointing-canvas>
      <app-aladin (coordinatesEmitter)="updateCoords($event)"
                  (fovAddedEmitter)="toggleAddingFov()"
                  (rectAddedEmitter)="toggleAddingRect()"></app-aladin>
    </div>
  </div>
  <div class="row">
    <div class="ui icon buttons">
      <button class="ui blue button"
              suiPopup
              popupText="Zoom in"
              (click)="zoomIn()">
        <i class="zoom icon"></i>
      </button>
      <button class="ui blue button"
              suiPopup
              popupText="Zoom out"
              (click)="zoomOut()">
        <i class="zoom out icon"></i>
      </button>
      <button class="ui blue button"
              suiPopup
              popupText="Zoom to fit the window"
              (click)="resetView()">
        <i class="window maximize icon"></i>
      </button>
      <button class="ui blue button"
              suiPopup
              popupText="Normal zoom"
              (click)="normalZoom()">
        <i class="window restore icon"></i>
      </button>
      <button class="ui blue button"
              suiPopup
              popupText="Open a FITS file">
        <i class="folder open icon"></i>
      </button>
      <button class="ui blue button"
              suiPopup
              popupText="Save image as..">
        <i class="save icon"></i>
      </button>
      <button class="ui blue button"
              [class.green]="editMode"
              suiPopup
              popupText="Toggle edit mode"
              (click)="editMode = !editMode">
        <i class="edit icon"></i>
      </button>
      <button class="ui blue button"
              [class.green]="addingFov"
              [disabled]="!editMode"
              suiPopup
              popupText="Add an FOV"
              (click)="toggleAddingFov()">
        <i class="plus circle icon"></i>
      </button>
      <button class="ui blue button"
              [class.green]="addingRect"
              [disabled]="!editMode"
              suiPopup
              popupText="Draw a rectangular map"
              (click)="toggleAddingRect()">
        <i class="plus square icon"></i>
      </button>
      <button class="ui blue button"
              [disabled]="!editMode"
              suiPopup
              popupText="Select FOVs in a rectangle region">
        <i class="object group outline icon"></i>
      </button>
      <button class="ui blue button"
              [disabled]="!editMode"
              suiPopup
              popupText="Cut selected FOVs"
              (click)="cutLayers()">
        <i class="cut icon"></i>
      </button>
      <!--<button class="ui blue button"-->
      <!--suiPopup-->
      <!--popupText="Select target centre">-->
      <!--<i class="fa fa-times"></i>-->
      <!--</button>-->
      <!--<button class="ui blue button"-->
      <!--suiPopup-->
      <!--popupText="Image cut levels">-->
      <!--<i class="fa fa-area-chart"></i>-->
      <!--</button>-->
      <!--<button class="ui blue button"-->
      <!--suiPopup-->
      <!--popupText="Show/Hide grid">-->
      <!--<i class="grid layout icon"></i>-->
      <!--</button>-->
    </div>
  </div>
</div>
<div class="ui form">
  <div class="equal width fields">
    <!--<div class="field"-->
    <!--suiPopup-->
    <!--popupText="Current magnification">-->
    <!--<input placeholder="1x"-->
    <!--style="text-align: center">-->
    <!--</div>-->
    <div class="field"
         suiPopup
         popupText="Image coordinates at mouse position">
      <input placeholder="432, 276"
             style="text-align: center"
             [ngModel]="pixelCoords[0] + ', ' + pixelCoords[1]">
    </div>
    <div class="field"
         suiPopup
         popupText="Sky coordinates at mouse position (J2000)">
      <input style="text-align: center"
             [ngModel]="worldCoords[0].toFixed(4) + ', ' + worldCoords[1].toFixed(4)">
    </div>
    <!--<div class="field"-->
    <!--suiPopup-->
    <!--popupText="Image pixel value at mouse position">-->
    <!--<input placeholder="0.0"-->
    <!--style="text-align: center">-->
    <!--</div>-->
  </div>

  <div class="field">
    <label for="filenameNote">Image Filename</label>
    <input id="filenameNote">
  </div>
</div>
<div style="height: 1em"></div>
