<div class="ui center aligned grid">
  <div class="row">
    <img src="../../../../../assets/img/field_placeholder.png">
  </div>
  <div class="row">
    <div class="ui blue icon buttons">
      <button class="ui button"
              suiPopup
              popupText="Open a FITS file">
        <i class="fa fa-folder-open-o"></i>
      </button>
      <button class="ui button"
              suiPopup
              popupText="Save image as..">
        <i class="fa fa-save"></i>
      </button>
      <button class="ui button"
              suiPopup
              popupText="Cut selected FOVs">
        <i class="fa fa-cut"></i>
      </button>
      <button class="ui button"
              suiPopup
              popupText="Select FOVs in a rectangle region">
        <i class="fa fa-square-o"></i>
      </button>
      <button class="ui button"
              suiPopup
              popupText="Select target centre">
        <i class="fa fa-times"></i>
      </button>
      <button class="ui button"
              suiPopup
              popupText="Add an FOV">
        <i class="fa fa-times-circle-o"></i>
      </button>
      <button class="ui button"
              suiPopup
              popupText="Image cut levels">
        <i class="fa fa-area-chart"></i>
      </button>
    </div>
    <div class="ui blue icon buttons">
      <button class="ui button"
              ngbTooltip="Zoom in"
              #zoomInButtonTooltip="ngbTooltip"
              [tooltip-delay]="zoomInButtonTooltip">
        <i class="fa fa-search-plus"></i>
      </button>
      <button class="ui button"
              suiPopup
              popupText="Zoom out">
        <i class="fa fa-search-minus"></i>
      </button>
      <button class="ui button"
              suiPopup
              popupText="Zoom to fit the window">
        <i class="fa fa-square-o"></i>
      </button>
      <button class="ui button"
              suiPopup
              popupText="Normal zoom">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>

<div class="ui form">
  <div class="three fields">
    <div class="field"
         suiPopup
         popupText="Current magnification">
      <input placeholder="1x"
             style="text-align: center">
    </div>
    <div class="field"
    suiPopup
    popupText="Image pixel coordinates at mouse position">
      <input placeholder="432, 276"
             style="text-align: center">
    </div>
    <div class="field"
    suiPopup
    popupText="Image pixel value at mouse position">
      <input placeholder="0.0"
             style="text-align: center">
    </div>
  </div>

  <div class="field">
    <label for="filenameNote">Image Filename</label>
    <input id="filenameNote">
  </div>
</div>


