<div class="header">{{modal.context.title}}</div>
<div class="scrolling content">
  <app-project-import (selectedProjectEmitter)="selectedProject = $event"></app-project-import>
</div>
<div class="actions">
  <button class="ui tiny compact blue labeled icon button"
          (click)="modal.approve(selectedProject)">
    <i class="open folder icon"></i>Open Project
  </button>
  <button class="ui tiny compact red  labeled icon button"
          (click)="modal.deny()">
    <i class="remove icon"></i> Cancel
  </button>
</div>
