<div class="three fields">
  <div class="field">
    <system-selector [sexagesimalHidden]="sexagesimalHidden"
                     (systemEmitter)="systemChange($event)"
                     (sexagesimalEmitter)="sexagesimalChange($event)"></system-selector>
  </div>

  <!-- Lon offset input -->
  <div class="field">
    <div *ngIf="radioValue === 'absolute'; then absoluteLonLabel; else relativeLonLabel"></div>
    <div class="field">
      <ng-template #absoluteLonLabel>
        <label>
          {{sexagesimalUnits ? chosenSystem.sexagesimalLabels.lonLabel : chosenSystem.normalLabels.lonLabel}}
        </label>
      </ng-template>
      <ng-template #relativeLonLabel>
        <label>
          Offset(Lon)
        </label>
      </ng-template>
      <div class="ui action input">
        <input placeholder="{{
                       sexagesimalUnits ?
                       (chosenSystem.lonPlaceholder | sexagesimal) :
                       (chosenSystem.lonPlaceholder | degrees)}}">
        <sui-select class="selection" *ngIf="radioValue === 'relative'">
          <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
        </sui-select>
      </div>
    </div>
  </div>

  <!-- Lat offset input -->
  <div class="field">
    <div *ngIf="radioValue === 'absolute'; then absoluteLatLabel else relativeLatLabel"></div>
    <ng-template #absoluteLatLabel>
      <label>
        {{sexagesimalUnits ? chosenSystem.sexagesimalLabels.latLabel : chosenSystem.normalLabels.latLabel}}
      </label>
    </ng-template>
    <ng-template #relativeLatLabel>
      <label>
        Offset(Lat)
      </label>
    </ng-template>
    <div class="ui action input">
      <input placeholder="{{
                     sexagesimalUnits ?
                     (chosenSystem.latPlaceholder | sexagesimal) :
                     (chosenSystem.latPlaceholder | degrees)}}">
      <sui-select class="selection" *ngIf="radioValue === 'relative'">
        <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
      </sui-select>
    </div>
  </div>
</div>

<div class="three fields">
  <!-- p length input -->
  <div class="field">
    <label>
      p length
    </label>
    <div class="ui action input">
      <input placeholder="0.00000" type="number">
      <sui-select class="selection">
        <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
      </sui-select>
    </div>
  </div>

  <!-- q length input -->
  <div class="field">
    <label>
      q length
    </label>
    <div class="ui action input">
      <input placeholder="0.00000" type="number">
      <sui-select class="selection">
        <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
      </sui-select>
    </div>
  </div>

  <!-- Position angle -->
  <div class="field">
    <label>
      Position Angle
    </label>
    <div class="ui action input">
      <input placeholder="0.00000" type="number">
      <sui-select class="selection">
        <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
      </sui-select>
    </div>
  </div>
</div>

<div class="fields">
  <!-- Spacing input -->
  <div class="field">
    <label>
      Spacing
    </label>
    <div class="ui right action input">
      <input placeholder="0.51093" type="number">
      <sui-select class="selection">
        <sui-select-option value="fraction">Fraction of antenna beamsize</sui-select-option>
        <sui-select-option value="arcsec">arcsec</sui-select-option>
      </sui-select>
      <button class="ui blue button">Reset to Nyquist</button>
    </div>
  </div>

  <!-- Number of pointings -->
  <div class="four wide field">
    <label># Pointings</label>
    <div class="ui statistics">
      <div class="statistic">
        <div class="label">7m Array</div>
        <div class="value">0</div>
      </div>
      <div class="statistic">
        <div class="label">12m Array</div>
        <div class="value">0</div>
      </div>
    </div>
  </div>

  <div class="two wide field">
    <button class="ui blue button" type="button">Export</button>
  </div>
</div>
