<div class="row">
  <!--Target type label-->
  <div class="col">
    <label>Coord Type</label>
  </div>
  <!--Target type radios-->
  <div class="col">
    <label class="custom-control custom-radio">
      <input id="relativeRadio"
             name="coordTypeRadios"
             type="radio"
             class="custom-control-input"
             value="relative"
             [(ngModel)]="radioValue"
             checked>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Relative</span>
    </label>
    <label class="custom-control custom-radio">
      <input id="absoluteRadio"
             name="coordTypeRadios"
             type="radio"
             value="absolute"
             [(ngModel)]="radioValue"
             class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Absolute</span>
    </label>
  </div><!-- div.col -->
</div><!--div.row-->

<div class="row"
     *ngIf="(_fieldSetupService.getItem('source', 'targetType') === 'individual'); then individualComponent; else rectangularComponent"></div>
<ng-template #individualComponent>
  <fcc-individual [radioValue]="radioValue"
                  [data]="data.individual"></fcc-individual>
</ng-template>
<ng-template #rectangularComponent>
  <fcc-rectangular [radioValue]="radioValue"></fcc-rectangular>
</ng-template>
