<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">ALMA</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">

        <li class="nav-item" *ngFor="let item of items">
          <a [routerLink]="item.path" class="nav-item navbar-link">{{item.title}}</a>
        </li>

        <li
          ngbDropdown
          #dropdown="ngbDropdown"
          [autoClose]="false">
          <a
            class="dropdown-toggle scienceGoals"
            ngbDropdownToggle>
            {{selectedGoal.title}}
            <span class="caret"></span>
          </a>
          <ul
            ngbDropdownMenu>
            <li
              *ngFor="let sg of scienceGoals"
              [class.active]="sg===selectedGoal">
              <a
                (click)="click(sg); dropdown.close()"
                [routerLink]="sg.path">
                {{sg.title}}
              </a>
              <span
                class="btn btn-sm"
                (click)="removeGoal(sg)">
              &times;
              </span>
            </li>
            <li class="divider dropdown-divider"></li>
            <li>
              <div class="container-fluid">
                <button
                  (click)="addGoal()"
                  class="btn btn-sm btn-success">Add Goal</button>
              </div>
            </li>
          </ul>

        </li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
