<div class="row">
  <!-- Source selector -->
  <div class="col form-group">
    <label for="sourceNameInput">Source Name</label>
    <div class="input-group">
      <input id="sourceNameInput"
             class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-outline-secondary">Resolve</button>
      </span>
    </div><!--div.input-group-->
  </div><!--div.col.form-group-->
</div><!--div.row-->
<div class="row">
  <!-- Solar checkbox -->
  <div class="col form-check">
    <label class="custom-control custom-checkbox">
      <input #solarCheckbox type="checkbox" class="custom-control-input" (change)="solarCheckboxClicked()">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Choose a Solar System Object?</span>
    </label>
  </div>
  <!-- Solar selector -->
  <div class="col">
    <div class="row">
      <label for="solarSystemSelector"
             class="col">
        Name of Object
      </label>
      <select id="solarSystemSelector"
              class="col form-control form-control-sm ml-2">
        <option *ngFor="let body of solarBodies">{{body}}</option>
      </select>
    </div><!--div.row-->
  </div><!--div.col.form-group-->
</div><!--div.row-->

<div class="row"
     (click)="unfocus()">
  <!--Target type label-->
  <div class="col">
    <label>Target Type</label>
  </div>
  <!--Target type radios-->
  <div class="col">
    <label class="custom-control custom-radio">
      <input id="indvRadio"
             name="targetTypeRadios"
             type="radio"
             class="custom-control-input"
             checked>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Individual Pointing(s)</span>
    </label>
    <label class="custom-control custom-radio">
      <input id="rectRadio"
             name="targetTypeRadios"
             type="radio"
             class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Rectangular Field</span>
    </label>
  </div><!-- div.col -->
</div><!--div.row-->

<div class="form-group"
     *ngIf="showSourceCoords">
  <!-- Label -->
  <div class="row">
    <h6>Source Coordinates</h6>
  </div><!-- div.row -->
  <!-- System, Lat, Long -->
  <div class="row">
    <!-- System Selector -->
    <div class="col-md">
      <div class="row">
        <label class="col-xl-4 text-xl-right"
               for="systemSelector"
               ngbTooltip="Coordinate system type"
               #systemSelectorTooltip="ngbTooltip"
               [tooltip-delay]="systemSelectorTooltip">
          System
        </label>
        <div class="col-xl-8 pl-0 pr-0 input-group align-self-baseline ">
          <select id="systemSelector"
                  class="form-control form-control-sm"
                  [(ngModel)]="chosenSystem"
                  (ngModelChange)="systemChange()">
            <option *ngFor="let system of systemKeys(systems)"
                    [value]="system">
              {{system}}
            </option>
          </select>
          <label class="input-group-addon custom-control custom-checkbox mr-0"
                 placement="right"
                 ngbTooltip="Sexagesimal display"
                 #sexagesimalCheckboxTooltip="ngbTooltip"
                 [tooltip-delay]="sexagesimalCheckboxTooltip">
            <input id="sexagesimalCheck"
                   class="custom-control-input"
                   type="checkbox"
                   title="sexagesimal checkbox"
                   [(ngModel)]="sexagesimalUnits"
                   [disabled]="sexagesimalDisabled">
            <span class="custom-control-indicator ml-2 mt-1"></span>
          </label>
        </div>
      </div>
    </div>
    <!-- Lat input -->
    <div class="col-md">
      <div class="row" style="white-space: nowrap">
        <label class="form-control-label col-xl-4 text-xl-right"
               for="latInput"
               ngbTooltip="The latitude of the source"
               #latInputTooltip="ngbTooltip"
               [tooltip-delay]="latInputTooltip">
          {{sexagesimalUnits ?
          systems[chosenSystem].sexagesimalLabels.latLabel :
          systems[chosenSystem].normalLabels.latLabel}}
        </label>
        <input #latInput
               id="latInput"
               class="col-xl-8 align-self-baseline form-control form-control-sm"
               [ngModel]="sexagesimalUnits && latInputValue ? (latInputValue | sexagesimal) : (latInputValue | degrees)"
               (keyup.enter)="setLatLon(latInput.value, latInput)"
               (blur)="setLatLon(latInput.value, latInput)"
               placeholder="{{
            sexagesimalUnits ?
            (systems[chosenSystem].latPlaceholder | sexagesimal) :
            (systems[chosenSystem].latPlaceholder | degrees)
             }}">
      </div>
    </div>
    <!-- Long input -->
    <div class="col-md">
      <div class="row"
           [class.has-danger]="lonInputError"
           style="white-space: nowrap">
        <label class="col-xl-4 text-xl-right"
               for="lonInput"
               ngbTooltip="The longitude of the source"
               #lonInputTooltip="ngbTooltip"
               [tooltip-delay]="lonInputTooltip">
          {{sexagesimalUnits ?
          systems[chosenSystem].sexagesimalLabels.lonLabel :
          systems[chosenSystem].normalLabels.lonLabel
          }}</label>
        <input #lonInput
               id="lonInput"
               class="col-xl-8 align-self-baseline form-control form-control-sm"
               [ngModel]="sexagesimalUnits && lonInputValue ? (lonInputValue | sexagesimal) : (lonInputValue | degrees)"
               (keyup.enter)="setLatLon(lonInput.value, lonInput)"
               (blur)="setLatLon(lonInput.value, lonInput)"
               placeholder="{{
            sexagesimalUnits ?
            (systems[chosenSystem].lonPlaceholder | sexagesimal) :
            (systems[chosenSystem].lonPlaceholder | degrees)
          }}">
      </div>
    </div>
  </div><!-- div.row -->
  <!-- Parallax, PM RA, PM DEC -->
  <div class="row">
    <!-- Parallax input -->
    <div class="col-md">
      <div class="row">
        <label class="col-xl-4 text-xl-right"
               for="parallaxInput"
               ngbTooltip="The parallax angle of the source"
               #parallaxInputTooltip="ngbTooltip"
               [tooltip-delay]="parallaxInputTooltip">
          Parallax
        </label>
        <div class="col-xl-8 pl-0 pr-0 align-self-baseline input-group">
          <input id="parallaxInput"
                 class="form-control form-control-sm"
                 placeholder="0.00000">
          <select class="input-group-addon form-control-sm"
                  title="Parallax unit selector">
            <option>mas</option>
            <option>arcsec</option>
          </select>
        </div>
      </div>
    </div>
    <!-- PM RA input -->
    <div class="col-md">
      <div class="row">
        <label class="col-xl-4 text-xl-right"
               for="pmRaInput"
               ngbTooltip="Proper motion along cross-declination direction"
               #pmLonTooltip="ngbTooltip"
               [tooltip-delay]="pmLonTooltip">
          PM RA
        </label>
        <div class="col-xl-8 pl-0 pr-0 align-self-baseline input-group">
          <input id="pmRaInput"
                 class="form-control form-control-sm"
                 placeholder="0.00000">
          <select class="input-group-addon form-control-sm"
                  title="Proper motion ra unit selector">
            <option>mas/yr</option>
            <option>arcsec/s</option>
            <option>arcmin/s</option>
            <option>deg/s</option>
          </select>
        </div>
      </div>
    </div>
    <!-- PM Dec input -->
    <div class="col-md">
      <div class="row"
           style="white-space: nowrap">
        <label class="col-xl-4 text-xl-right"
               for="plgecInput"
               ngbTooltip="Proper motion along declination direction"
               #pmLatTooltip="ngbTooltip"
               [tooltip-delay]="pmLatTooltip">
          PM DEC
        </label>
        <div class="col-xl-8 pl-0 pr-0 align-self-baseline input-group">
          <input id="plgecInput"
                 class="form-control form-control-sm"
                 placeholder="0.00000">
          <select class="input-group-addon form-control-sm"
                  title="proper motion declination unit selector">
            <option>mas/yr</option>
            <option>arcsec/s</option>
            <option>arcmin/s</option>
            <option>deg/s</option>
          </select>
        </div>
      </div>
    </div>
  </div><!-- div.row -->
  <!-- Radial, Z, Doppler -->
  <div class="row">
    <!-- Radial input -->
    <div class="col-md">
      <div class="row"
           style="white-space: nowrap">
        <label class="col-xl-4 text-xl-right"
               for="radialVelocityInput"
               ngbTooltip="Velocity value in your desired units"
               #radialInputTooltip="ngbTooltip"
               [tooltip-delay]="radialInputTooltip">
          Radial Velocity
        </label>
        <div class="col-xl-8 pl-0 pr-0 input-group">
          <input id="radialVelocityInput"
                 class="align-self-baseline form-control form-control-sm"
                 placeholder="0.000">
          <select class="input-group-addon form-control-sm"
                  title="Radial velocity unit selector">
            <option>m/s</option>
            <option>km/s</option>
          </select>
          <select class="input-group-addon form-control-sm"
                  title="Radial velocity reference frame selector">
            <option>bar</option>
            <option>lsrk</option>
            <option>topo</option>
            <option>hel</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Z input -->
    <div class="col-md">
      <div class="row">
        <label class="col-xl-4 text-xl-right"
               for="zInput"
               ngbTooltip="Astronomical redshift, calculated using the specified velocity convention"
               #zInputTooltip="ngbTooltip"
               [tooltip-delay]="zInputTooltip">
          Z
        </label>
        <input id="zInput"
               class="col-xl-8 align-self-baseline form-control form-control-sm"
               placeholder="0.000000000">
      </div>
    </div>
    <!-- Doppler selector -->
    <div class="col-md">
      <div class="row"
           style="white-space: nowrap">
        <label class="col-xl-4 text-xl-right"
               for="dopplerSelect"
               ngbTooltip="Doppler calculation convention to be used"
               #dopplerInputTooltip="ngbTooltip"
               [tooltip-delay]="dopplerInputTooltip">
          Doppler Type
        </label>
        <select id="dopplerSelect"
                class="col-xl-8 form-control form-control-sm">
          <option>Radio</option>
          <option>Optical</option>
          <option>Relativistic</option>
        </select>
      </div>
    </div>
  </div><!-- div.row -->
</div><!-- div *ngIf -->
