<div class="ui form">
  <div class="inline fields">
    <label>Spectral Type</label>
    <div class="field">
      <sui-radio-button name="spectralRadios"
                        [(ngModel)]="spectralTypeRadioChoice"
                        value="line">
        Spectral Line
      </sui-radio-button>
    </div>
    <div class="field">
      <sui-radio-button name="spectralRadios"
                        [(ngModel)]="spectralTypeRadioChoice"
                        value="single">
        Single Continuum
      </sui-radio-button>
    </div>
    <div class="field">
      <sui-radio-button name="spectralRadios"
                        [(ngModel)]="spectralTypeRadioChoice"
                        value="scan">
        Spectral Scan
      </sui-radio-button>
    </div>
  </div>

  <div class="field">
    <sui-checkbox>Produce Image Sidebands (Bands 9 and 10 only)</sui-checkbox>
  </div>

  <div class="inline fields">
    <label>Polarization Products Desired</label>
    <div class="field">
      <sui-radio-button name="polarizationRadios"
                        [(ngModel)]="polarizationRadioChoice"
                        value="xx">
        XX
      </sui-radio-button>
    </div>
    <div class="field">
      <sui-radio-button name="polarizationRadios"
                        [(ngModel)]="polarizationRadioChoice"
                        value="dual">
        DUAL
      </sui-radio-button>
    </div>
    <div class="field">
      <sui-radio-button name="polarizationRadios"
                        [(ngModel)]="polarizationRadioChoice"
                        value="full">
        FULL
      </sui-radio-button>
    </div>
  </div>
</div>


