.scienceGoals:hover {
  cursor: pointer;
}

/*.ui.inverted.blue.menu .active.item {*/
  /*background-color: white;*/
  /*color: #2185D0;*/
/*}*/

/*.titleField {*/
  /*padding-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-left: 5px;*/
/*}*/

.logo {
  border: 1px solid white;
  height: 36px;
  /*width: auto;*/
}

.version {
  font-size: 0.7em;
  font-weight: normal;
}

.ui.inverted.blue.menu .active.item {
  background-color: white !important;
  color: #2185D0 !important
}

.ui.link.dropdown.item.myDropdown {
  background-color: white !important;
  color: #2185D0 !important
}
