<div class="ui fixed blue inverted menu">
  <div class="ui fluid container">
    <div class="item" style="text-wrap: none">
      <img class="ui image esoLogo" src="../../../assets/img/eso-logo.jpg">
      &nbsp;&nbsp;<b>Observation Tool</b>
    </div>
    <a class="item"
       *ngFor="let item of items"
       [routerLink]="item.path">
      {{item.title}}
    </a>
    <div class="ui right dropdown item" suiDropdown>
      <i class="user icon"></i>
      User
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <div class="item">
          <i class="sign out icon"></i> Logout
        </div>
        <a class="item" href="http://www.eso.org/UserPortal">
          <i class="setting icon"></i> User Portal
        </a>
      </div>
    </div>
  </div>
</div>
