<form class="ui form">
  <!-- Search field -->
  <div class="field">
    <label>Search</label>
    <div class="ui fluid left action input">
      <!-- Selector -->
      <sui-select class="selection">
        <sui-select-option value="PI ID">PI ID</sui-select-option>
        <sui-select-option value="Project Code">Project Code</sui-select-option>
        <sui-select-option value="Project Name">Project Name</sui-select-option>
      </sui-select>
      <!-- Input -->
      <input>
    </div>
  </div>
</form>
<!-- Table -->
<table class="ui selectable table">
  <thead>
  <tr>
    <th>Project Name</th>
    <th>Project Code</th>
    <th>PI ALMA ID</th>
    <th>Creation Time</th>
    <th>Submission Time</th>
    <th>Project ID</th>
    <th>Role</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects | async"
      (click)="rowClicked(project)"
      [class.active]="_selectedProject === project">
    <td>{{project.prj_projectName}}</td>
    <td>{{project.prj_code}}</td>
    <td>{{project.prj_pI}}</td>
    <td>{{project.prj_timeOfCreation}}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
