<div class="row">
  <label for="peakContInput" class="col-6">Peak Continuum Flux Density per Synthesized Beam</label>
  <div class="col-6 input-group">
    <input id="peakContInput" class="form-control form-control-sm align-self-baseline" placeholder="0.00000">
    <select class="form-control form-control-sm input-group-addon">
      <option>mJy</option>
      <option>Jy</option>
    </select>
  </div>
</div>
<div class="row">
  <label for="contPolInput" class="col-6">Continuum Polarization Percentage</label>
  <div class="col-6 input-group">
    <input id="contPolInput" class="form-control form-control-sm align-self-baseline" placeholder="0.0%">
  </div>
</div>
<div class="row">
  <label for="peakFluxPerInput" class="col-6">Peak Line Flux Density per Synthesized Beam</label>
  <div class="col-6 input-group">
    <input id="peakFluxPerInput" class="form-control form-control-sm align-self-baseline" placeholder="0.00000">
    <select class="form-control form-control-sm input-group-addon">
      <option>mJy</option>
      <option>Jy</option>
    </select>
  </div>
</div>
<div class="row">
  <label for="lineWidthInput" class="col-6">Line Width</label>
  <div class="col-6 input-group">
    <input id="lineWidthInput" class="form-control form-control-sm align-self-baseline" placeholder="0.00000">
    <select class="form-control form-control-sm input-group-addon">
      <option>m/s</option>
      <option>km/s</option>
    </select>
  </div>
</div>
<div class="row">
  <label for="linePolInput" class="col-6">Line Polarization Percentage</label>
  <div class="col-6 input-group">
    <input id="linePolInput" class="form-control form-control-sm align-self-baseline" placeholder="0.0%">
  </div>
</div>
