<div class="row form-group">
  <label class="col-6">Peak Continuum Flux Density per Synthesized Beam</label>
  <div class="col-6 input-group">
    <input class="form-control-sm" placeholder="0.00000">
    <select class="form-control-sm input-group-addon">
      <option>mJy</option>
      <option>Jy</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <label class="col-6">Continuum Polarization Percentage</label>
  <input class="col-6 form-control-sm" placeholder="0.0%">
</div>
<div class="row form-group">
  <label class="col-6">Peak Line Flux Density per Synthesized Beam</label>
  <div class="col-6 input-group">
    <input class="form-control-sm" placeholder="0.00000">
    <select class="form-control-sm input-group-addon">
      <option>mJy</option>
      <option>Jy</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <label class="col-6">Line Width</label>
  <div class="col-6 input-group">
    <input class="form-control-sm" placeholder="0.00000">
    <select class="form-control-sm input-group-addon">
      <option>m/s</option>
      <option>km/s</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <label class="col-6">Line Polarization Percentage</label>
  <input class="col-6 form-control-sm" placeholder="0.0%">
</div>
