<div class="field"
     suiPopup
     popupText="Coordinate system type">
  <label for="systemSelector"
         ngbTooltip=""
         #systemSelectorTooltip="ngbTooltip"
         [tooltip-delay]="systemSelectorTooltip">
    <b>System</b>
  </label>
  <div class="ui inline input">
    <sui-select id="systemSelector"
                class="selection"
                [(ngModel)]="chosenSystem"
                (ngModelChange)="systemChange()">
      <sui-select-option *ngFor="let system of systemKeys(systems)"
                         [value]="system">
        {{system}}
      </sui-select-option>
    </sui-select>
    <button *ngIf="!sexagesimalHidden"
            class="ui toggle button"
            [class.active]="sexagesimalUnits"
            [disabled]="sexagesimalDisabled"
            (click)="sexagesimalChange()">
      Sexagesimal
    </button>
  </div>
</div>
