<div class="row p-0 m-0">
  <div class="col-lg-5 col-xl-4 p-0 m-0"
       [dragula]="'main'">
    <modular-panel [id]="'spatial'"
                   [title]="page.panels['spatial'].title"
                   [image]="'/assets/img/placeholder.PNG'"
                   (hiddenChange)="hiddenChange($event)"
                   *ngIf="page.panels['spatial'].shown">
      <spacial-image></spacial-image>
    </modular-panel>
    <div class="row p-0 m-0">
      <div class="col-xl p-0 m-0"
           [dragula]="'one'">
        <modular-panel [id]="'fov'"
                       [title]="page.panels['fov'].title"
                       (hiddenChange)="hiddenChange($event)"
                       *ngIf="page.panels['fov'].shown"
                       style="height: 100%;">
          <fov-parameters></fov-parameters>
        </modular-panel>
      </div>
      <div class="col-xl p-0 m-0"
           [dragula]="'one'">
        <modular-panel [id]="'query'"
                       [title]="page.panels['query'].title"
                       (hiddenChange)="hiddenChange($event)"
                       *ngIf="page.panels['query'].shown"
                       style="height: 100%;">
          <image-query></image-query>
        </modular-panel>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-xl-8 p-0 m-0"
       [dragula]="'main'">
    <modular-panel [id]="'field-source'"
                   [title]="page.panels['field-source'].title"
                   (hiddenChange)="hiddenChange($event)"
                   *ngIf="page.panels['field-source'].shown">
      <field-source (systemEmitter)="setHeaders($event)"></field-source>
    </modular-panel>
    <modular-panel [id]="'expected'"
                   [title]="page.panels['expected'].title"
                   (hiddenChange)="hiddenChange($event)"
                   *ngIf="page.panels['expected'].shown">
      <source-expected-properties></source-expected-properties>
    </modular-panel>
    <modular-panel [id]="'field-centre'"
                   [title]="page.panels['field-centre'].title"
                   (hiddenChange)="hiddenChange($event)"
                   *ngIf="page.panels['field-centre'].shown">
      <field-center-coordinates [tableHeaders]="tableHeaders"></field-center-coordinates>
    </modular-panel>
  </div>
</div>
