<div class="row form-group">
  <label class="col-7" for="freqInput">Representative Frequency (Sky)</label>
  <input class="col-5 form-control form-control-sm align-self-baseline" id="freqInput" placeholder="0.000 GHz">
</div>
<div class="row form-group">
  <label class="col-7" for="antRadio">Antenna Diameter</label>
  <label class="col-5 align-self-baseline">
    <input class="form-control-sm mr-2" id="antRadio" type="radio">12m
  </label>
</div>
<div class="row form-group">
  <label class="col-7" for="beamInput">Antenna Beamsize (HPBW)</label>
  <input class="col-5 form-control form-control-sm align-self-baseline" id="beamInput" placeholder="0.000 arcsec">
</div>
<div class="row justify-content-start">
  <label class="col-7" for="beamCheck">Show Antenna Beamsize</label>
  <input class="col-5 form-control form-control-sm" id="beamCheck" type="checkbox">
</div>
