<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">Principal Investigator</div>
    <div class="panel-body">
      <form>
        <div class="input-group">
          <input id="pi-search-txt-box" type="text" class="form-control" placeholder="Enter search term">
          <div class="input-group-btn">
            <button id="pi-search-submit-btn" type="submit" class="btn btn-default">Select PI</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
