<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">Principal Investigator</div>
    <div class="panel-body">
      <form>
        <div class="input-group">
          <input #piSearchInput
                 id="pi-search-txt-box"
                 (keyup)="0"
                 type="text"
                 class="form-control"
                 placeholder="{{this.INPUT_PLACEHOLDER}}">
          <div class="input-group-btn">
            <a [routerLink]="['/pi-select', {name: piSearchInput.value}]">
              <button
                id="pi-search-submit-btn"
                type="submit"
                class="btn btn-default"
                [disabled]="piSearchInput.value === ''">
                SelectPI
              </button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
