<h4 class="ui dividing header">Source</h4>
<form class="ui form" [formGroup]="sourceForm">

  <!-- Source selector -->
  <div class="field" [class.error]="sourceName.invalid">
    <label for="sourceNameInput">Source Name</label>
    <div class="ui icon input">
      <input id="sourceNameInput"
             type="text"
             formControlName="sourceName">
      <i *ngIf="sourceName.invalid" class="red warning circle icon"></i>
    </div>
    <div class="ui pointing red basic label"
         *ngIf="sourceName.invalid">
      Source name cannot be blank
    </div>
    <button class="ui right floated tiny compact blue labeled icon button"
            (click)="resolveSource()">
      <i class="search icon"></i> Resolve
    </button>
    <div style="height: 1.5em;" *ngIf="sourceName.valid"></div>
  </div>

  <div class="two fields">
    <!-- Solar checkbox -->
    <div class="field">
      <label>Choose a Solar System Object?</label>
      <sui-checkbox class="toggle"
                    formControlName="solarSystemObject"></sui-checkbox>
    </div>

    <!-- Solar selector -->
    <div class="field">
      <label for="solarSystemSelector">Name of Object</label>
      <sui-select id="solarSystemSelector"
                  class="selection"
                  formControlName="chosenSolarObject"
                  [isDisabled]="!sourceForm.value.solarSystemObject">
        <sui-select-option *ngFor="let body of solarBodies"
                           [value]="body">
          {{body}}
        </sui-select-option>
      </sui-select>
    </div>
  </div>

  <div class="ui form" *ngIf="!sourceForm.value.solarSystemObject">

    <div class="four fields" formGroupName="sourceCoordinates">
      <div class="field">
        <!-- System Selector -->
        <label>System</label>
        <div class="field">
          <sui-select class="selection"
                      formControlName="system"
                      (selectedOptionChange)="systemChange()">
            <sui-select-option *ngFor="let system of systemService.getSystems()"
                               value="{{system}}"></sui-select-option>
          </sui-select>
        </div>
      </div>

      <div class="three wide field">
        <label>Sexagesimal Units</label>
        <sui-checkbox class="toggle"
                      formControlName="type"
                      [isDisabled]="sexagesimalCheckboxDisabled">
        </sui-checkbox>
      </div>

      <!-- RA(lon) input -->
      <div class="field"
           suiPopup
           popupText="The longitude of the source"
           formGroupName="longitude">
        <label for="lonInput">
          {{
          this.sourceForm.value.sourceCoordinates.type ?
          this.currentSystem?.sexagesimalLabels.lonLabel :
          this.currentSystem?.normalLabels.lonLabel
          }}
        </label>
        <input #lonInput
               id="lonInput"
               formControlName="content"
               placeholder="0"
               [value]="sourceForm.value.sourceCoordinates.type ?
                        (sourceForm.value.sourceCoordinates.longitude.content | sexagesimal: 'ra') :
                        sourceForm.value.sourceCoordinates.longitude.content">
      </div>

      <!-- Dec(lat) input -->
      <div class="field"
           suiPopup
           popupText="The latitude of the source"
           formGroupName="latitude">
        <label for="latInput">
          {{
          this.sourceForm.value.sourceCoordinates.type ?
          this.currentSystem?.sexagesimalLabels.latLabel :
          this.currentSystem?.normalLabels.latLabel
          }}
        </label>
        <input #latInput
               id="latInput"
               formControlName="content"
               placeholder="0"
               [value]="sourceForm.value.sourceCoordinates.type ?
                        (sourceForm.value.sourceCoordinates.latitude.content | sexagesimal: 'dec') :
                        sourceForm.value.sourceCoordinates.latitude.content">
      </div>
    </div>

    <div class="three fields">
      <!-- Parallax input -->
      <div class="field"
           suiPopup
           popupText="The parallax angle of the source"
           formGroupName="parallax">
        <label for="parallaxInput">
          Parallax
        </label>
        <div class="ui action input">
          <input id="parallaxInput"
                 placeholder="0.00000"
                 formControlName="content">
          <sui-select class="selection"
                      title="Parallax unit selector"
                      formControlName="unit">
            <sui-select-option value="mas">mas</sui-select-option>
            <sui-select-option value="arcsec">arcsec</sui-select-option>
          </sui-select>
        </div>
      </div>

      <!-- PM RA input -->
      <div class="field"
           suiPopup
           popupText="Proper motion along cross-declination direction"
           formGroupName="pmRA">
        <label for="pmRaInput">
          PM RA
        </label>
        <div class="ui action input">
          <input id="pmRaInput"
                 placeholder="0.00000"
                 formControlName="content">
          <sui-select class="selection"
                      title="Proper motion ra unit selector"
                      formControlName="unit">
            <sui-select-option value="mas/yr">mas/yr</sui-select-option>
            <sui-select-option value="arcsec/s">arcsec/s</sui-select-option>
            <sui-select-option value="arcmin/s">arcmin/s</sui-select-option>
            <sui-select-option value="deg/s">deg/s</sui-select-option>
          </sui-select>
        </div>
      </div>

      <!-- PM Dec input -->
      <div class="field"
           suiPopup
           popupText="Proper motion along declination direction"
           formGroupName="pmDec">
        <label for="plgecInput">
          PM DEC
        </label>
        <div class="ui action input">
          <input id="plgecInput"
                 placeholder="0.00000"
                 formControlName="content">
          <sui-select class="selection"
                      title="proper motion declination unit selector"
                      formControlName="unit">
            <sui-select-option value="mas/yr">mas/yr</sui-select-option>
            <sui-select-option value="arcsec/s">arcsec/s</sui-select-option>
            <sui-select-option value="arcmin/s">arcmin/s</sui-select-option>
            <sui-select-option value="deg/s">deg/s</sui-select-option>
          </sui-select>
        </div>
      </div>
    </div>


    <div class="three fields"
         formGroupName="sourceVelocity">
      <!-- Radial input -->
      <div class="field"
           suiPopup
           popupText="Velocity value in your desired units">
        <label for="radialVelocityInput">
          Radial Velocity
        </label>
        <div class="ui action input"
             formGroupName="centerVelocity">
          <input id="radialVelocityInput"
                 placeholder="0.000"
                 formControlName="content">
          <sui-select class="selection"
                      title="Radial velocity unit selector"
                      formControlName="unit">
            <sui-select-option value="m/s">m/s</sui-select-option>
            <sui-select-option value="km/s">km/s</sui-select-option>
          </sui-select>
        </div>
        <sui-select class="selection"
                    title="Radial velocity reference frame selector"
                    formControlName="referenceSystem">
          <sui-select-option value="bar">bar</sui-select-option>
          <sui-select-option value="lsrk">lsrk</sui-select-option>
          <sui-select-option value="topo">topo</sui-select-option>
          <sui-select-option value="hel">hel</sui-select-option>
        </sui-select>
      </div>

      <!-- Redshift input -->
      <div class="field"
           suiPopup
           popupText="Astronomical redshift, calculated using the specified velocity convention">
        <label for="zInput">
          Z
        </label>
        <input id="zInput"
               placeholder="0.000000000"
               formControlName="redshift">
      </div><!-- div.field -->

      <!-- Doppler selector -->
      <div class="field"
           suiPopup
           popupText="Doppler calculation convention to be used">
        <label for="dopplerSelect">
          Doppler Type
        </label>
        <sui-select class="selection"
                    id="dopplerSelect"
                    formControlName="dopplerCalcType"
                    (selectedOptionChange)="setRedshift()">
          <sui-select-option value="RADIO">Radio</sui-select-option>
          <sui-select-option value="OPTICAL">Optical</sui-select-option>
          <sui-select-option value="RELATIVISTIC">Relativistic</sui-select-option>
        </sui-select>
      </div><!-- div.field -->
    </div>

  </div>
</form><!-- form.ui.grid.form -->
