<div class="ui form">
  <!-- Source selector -->
  <div class="field">
    <label for="sourceNameInput">Source Name</label>
    <div class="ui action input">
      <input id="sourceNameInput">
      <button class="ui blue button">Resolve</button>
    </div>
  </div>

  <!-- Solar checkbox -->
  <sui-checkbox (checkChange)="solarCheckboxClicked()">Choose a Solar System Object?</sui-checkbox>

  <!-- Solar selector -->
  <div class="field">
    <label for="solarSystemSelector">
      Name of Object
    </label>
    <sui-select id="solarSystemSelector"
                [isDisabled]="!pageData.solarSystemObject">
      <sui-select-option *ngFor="let body of solarBodies" [value]="body">{{body}}</sui-select-option>
    </sui-select>
  </div>

  <!--Target type radios-->
  <div class="field">
    <label>Target Type</label>
    <sui-radio-button name="targetTypeRadios"
                      value="individual"
                      [(ngModel)]="pageData.targetType">Individual Pointing(s)
    </sui-radio-button>
    <sui-radio-button name="targetTypeRadios"
                      value="rectangular"
                      [(ngModel)]="pageData.targetType">Rectangular Field
    </sui-radio-button>
  </div>

  <div *ngIf="!pageData.solarSystemObject">

    <!-- Label -->
    <h3>Source Coordinates</h3>

    <!-- System Selector -->
    <system-selector (systemEmitter)="systemChange($event)"
                     (sexagesimalEmitter)="sexagesimalChange($event)"></system-selector>

    <!-- Lat input -->
    <div class="field">
      <label for="latInput"
             ngbTooltip="The latitude of the source"
             #latInputTooltip="ngbTooltip"
             [tooltip-delay]="latInputTooltip">
        {{pageData.sexagesimalUnits ?
        pageData.chosenSystem.sexagesimalLabels.latLabel :
        pageData.chosenSystem.normalLabels.latLabel}}
      </label>
      <input #latInput
             id="latInput"
             [ngModel]="pageData.sexagesimalUnits && pageData.lat ? (pageData.lat.value | sexagesimal: false) : pageData.lat.value"
             (keyup.enter)="setLatLon(latInput.value, latInput)"
             (blur)="setLatLon(latInput.value, latInput)"
             placeholder="{{
                pageData.sexagesimalUnits ?
                (pageData.chosenSystem.latPlaceholder | sexagesimal) :
                (pageData.chosenSystem.latPlaceholder | degrees)
                 }}">
    </div>

    <!-- Long input -->
    <div class="field">
      <label for="lonInput"
             ngbTooltip="The longitude of the source"
             #lonInputTooltip="ngbTooltip"
             [tooltip-delay]="lonInputTooltip">
        {{pageData.sexagesimalUnits ?
        pageData.chosenSystem.sexagesimalLabels.lonLabel :
        pageData.chosenSystem.normalLabels.lonLabel
        }}</label>
      <input #lonInput
             id="lonInput"
             [ngModel]="pageData.sexagesimalUnits && pageData.lon ? (pageData.lon.value | sexagesimal: true) : pageData.lon.value"
             (keyup.enter)="setLatLon(lonInput.value, lonInput)"
             (blur)="setLatLon(lonInput.value, lonInput)"
             placeholder="{{
                pageData.sexagesimalUnits ?
                (pageData.chosenSystem.lonPlaceholder | sexagesimal) :
                (pageData.chosenSystem.lonPlaceholder | degrees)
              }}">
    </div>

    <!-- Parallax input -->
    <div class="field">
      <label for="parallaxInput"
             ngbTooltip="The parallax angle of the source"
             #parallaxInputTooltip="ngbTooltip"
             [tooltip-delay]="parallaxInputTooltip">
        Parallax
      </label>
      <div class="ui action input">
        <input id="parallaxInput"
               placeholder="0.00000">
        <sui-select class="selection"
             title="Parallax unit selector">
          <sui-select-option value="mas">mas</sui-select-option>
          <sui-select-option value="arcsec">arcsec</sui-select-option>
        </sui-select>
      </div>
    </div>

    <!-- PM RA input -->
    <div class="field">
      <label for="pmRaInput"
             ngbTooltip="Proper motion along cross-declination direction"
             #pmLonTooltip="ngbTooltip"
             [tooltip-delay]="pmLonTooltip">
        PM RA
      </label>
      <div class="ui action input">
        <input id="pmRaInput"
               placeholder="0.00000">
        <sui-select class="selection"
                    title="Proper motion ra unit selector">
          <sui-select-option value="mas/yr">mas/yr</sui-select-option>
          <sui-select-option value="arcsec/s">arcsec/s</sui-select-option>
          <sui-select-option value="arcmin/s">arcmin/s</sui-select-option>
          <sui-select-option value="deg/s">deg/s</sui-select-option>
        </sui-select>
      </div>
    </div>

    <!-- PM Dec input -->
    <div class="field">
      <label for="plgecInput"
             ngbTooltip="Proper motion along declination direction"
             #pmLatTooltip="ngbTooltip"
             [tooltip-delay]="pmLatTooltip">
        PM DEC
      </label>
      <div class="ui action input">
        <input id="plgecInput"
               placeholder="0.00000">
        <sui-select class="selection"
                title="proper motion declination unit selector">
          <sui-select-option value="mas/yr">mas/yr</sui-select-option>
          <sui-select-option value="arcsec/s">arcsec/s</sui-select-option>
          <sui-select-option value="arcmin/s">arcmin/s</sui-select-option>
          <sui-select-option value="deg/s">deg/s</sui-select-option>
        </sui-select>
      </div>
    </div>

    <!-- Radial input -->
    <div class="field">
      <label for="radialVelocityInput"
             ngbTooltip="Velocity value in your desired units"
             #radialInputTooltip="ngbTooltip"
             [tooltip-delay]="radialInputTooltip">
        Radial Velocity
      </label>
      <div class="ui action input">
        <input id="radialVelocityInput"
               placeholder="0.000">
        <sui-select class="selection"
                title="Radial velocity unit selector">
          <sui-select-option value="m/s">m/s</sui-select-option>
          <sui-select-option value="km/s">km/s</sui-select-option>
        </sui-select>
        <sui-select class="selection"
                title="Radial velocity reference frame selector">
          <sui-select-option value="bar">bar</sui-select-option>
          <sui-select-option value="lsrk">lsrk</sui-select-option>
          <sui-select-option value="topo">topo</sui-select-option>
          <sui-select-option value="hel">hel</sui-select-option>
        </sui-select>
      </div>
    </div>

    <!-- Z input -->
    <div class="field"
         data-tooltip="Astronomical redshift, calculated using the specified velocity convention"
         data-position="top left">
      <label for="zInput">
        Z
      </label>
      <input id="zInput"
             placeholder="0.000000000">
    </div>

    <!-- Doppler selector -->
    <div class="field">
      <label for="dopplerSelect"
             ngbTooltip="Doppler calculation convention to be used"
             #dopplerInputTooltip="ngbTooltip"
             [tooltip-delay]="dopplerInputTooltip">
        Doppler Type
      </label>
      <sui-select class="selction" id="dopplerSelect">
        <sui-select-option value="radio">Radio</sui-select-option>
        <sui-select-option value="optical">Optical</sui-select-option>
        <sui-select-option value="relativistic">Relativistic</sui-select-option>
      </sui-select>
    </div>
  </div><!-- div *ngIf -->
</div><!-- div.ui.form -->
