<div class="ui form">
  <!-- Source selector -->
  <div class="field">
    <label for="sourceNameInput">Source Name</label>
    <div class="ui action input">
      <input id="sourceNameInput" [(ngModel)]="pageData.sourceName">
      <button class="ui blue button">Resolve</button>
    </div>
  </div>

  <div class="three fields">
    <!-- Solar checkbox -->
    <div class="field">
      <sui-checkbox [(ngModel)]="pageData.solarSystemObject">Choose a Solar System Object?</sui-checkbox>
    </div>

    <!-- Solar selector -->
    <div class="field">
      <label for="solarSystemSelector">Name of Object</label>
      <sui-select id="solarSystemSelector"
                  class="selection"
                  [isDisabled]="!pageData.solarSystemObject"
                  [(ngModel)]="pageData.chosenSolarObject">
        <sui-select-option *ngFor="let body of solarBodies" [value]="body">{{body}}</sui-select-option>
      </sui-select>
    </div>

    <!--Target type radios-->
    <div class="field">
      <label>Target Type</label>
      <sui-radio-button name="targetTypeRadios"
                        value="individual"
                        [(ngModel)]="pageData.targetType">Individual Pointing(s)
      </sui-radio-button>
      <sui-radio-button name="targetTypeRadios"
                        value="rectangular"
                        [(ngModel)]="pageData.targetType">Rectangular Field
      </sui-radio-button>
    </div>
  </div>

  <div *ngIf="!pageData.solarSystemObject">

    <div class="three fields">
      <div class="field">
        <!-- System Selector -->
        <system-selector (systemEmitter)="systemChange($event)"
                         (sexagesimalEmitter)="sexagesimalChange($event)"></system-selector>
      </div>

      <!-- Lat input -->
      <div class="field"
           suiPopup
           popupText="The latitude of the source">
        <label for="latInput">
          {{pageData.sexagesimalUnits ?
          pageData.chosenSystem.sexagesimalLabels.latLabel :
          pageData.chosenSystem.normalLabels.latLabel}}
        </label>
        <input #latInput
               id="latInput"
               [ngModel]="pageData.sexagesimalUnits && pageData.lat ?
                         (pageData.lat.value | sexagesimal: false) :
                          pageData.lat.value.toFixed(8)"
               (keyup.enter)="setLatLon(latInput.value, latInput)"
               (blur)="setLatLon(latInput.value, latInput)"
               placeholder="{{
        pageData.sexagesimalUnits ?
        (pageData.chosenSystem.latPlaceholder | sexagesimal) :
        (pageData.chosenSystem.latPlaceholder | degrees)
        }}">
      </div>

      <!-- Long input -->
      <div class="field"
           suiPopup
           popupText="The longitude of the source">
        <label for="lonInput">
          {{pageData.sexagesimalUnits ?
          pageData.chosenSystem.sexagesimalLabels.lonLabel :
          pageData.chosenSystem.normalLabels.lonLabel
          }}</label>
        <input #lonInput
               id="lonInput"
               [ngModel]="pageData.sexagesimalUnits && pageData.lon ?
                         (pageData.lon.value | sexagesimal: true) :
                          pageData.lon.value.toFixed(8)"
               (keyup.enter)="setLatLon(lonInput.value, lonInput)"
               (blur)="setLatLon(lonInput.value, lonInput)"
               placeholder="{{
        pageData.sexagesimalUnits ?
        (pageData.chosenSystem.lonPlaceholder | sexagesimal) :
        (pageData.chosenSystem.lonPlaceholder | degrees)
        }}">
      </div>
    </div>


    <div class="three fields">
      <!-- Parallax input -->
      <div class="field"
           suiPopup
           popupText="The parallax angle of the source">
        <label for="parallaxInput">
          Parallax
        </label>
        <div class="ui action input">
          <input id="parallaxInput"
                 placeholder="0.00000"
                 [ngModel]="pageData.parallax.value.toFixed(5)">
          <sui-select class="selection"
                      title="Parallax unit selector"
                      [(ngModel)]="pageData.parallax.unit">
            <sui-select-option value="mas">mas</sui-select-option>
            <sui-select-option value="arcsec">arcsec</sui-select-option>
          </sui-select>
        </div>
      </div>

      <!-- PM RA input -->
      <div class="field"
           suiPopup
           popupText="Proper motion along cross-declination direction">
        <label for="pmRaInput">
          PM RA
        </label>
        <div class="ui action input">
          <input id="pmRaInput"
                 placeholder="0.00000"
                 [ngModel]="pageData.properMotionCross.value.toFixed(5)">
          <sui-select class="selection"
                      title="Proper motion ra unit selector"
                      [(ngModel)]="pageData.properMotionCross.unit">
            <sui-select-option value="mas/yr">mas/yr</sui-select-option>
            <sui-select-option value="arcsec/s">arcsec/s</sui-select-option>
            <sui-select-option value="arcmin/s">arcmin/s</sui-select-option>
            <sui-select-option value="deg/s">deg/s</sui-select-option>
          </sui-select>
        </div>
      </div>

      <!-- PM Dec input -->
      <div class="field"
           suiPopup
           popupText="Proper motion along declination direction">
        <label for="plgecInput">
          PM DEC
        </label>
        <div class="ui action input">
          <input id="plgecInput"
                 placeholder="0.00000"
                 [ngModel]="pageData.properMotionDeclination.value.toFixed(5)">
          <sui-select class="selection"
                      title="proper motion declination unit selector"
                      [(ngModel)]="pageData.properMotionDeclination.unit">
            <sui-select-option value="mas/yr">mas/yr</sui-select-option>
            <sui-select-option value="arcsec/s">arcsec/s</sui-select-option>
            <sui-select-option value="arcmin/s">arcmin/s</sui-select-option>
            <sui-select-option value="deg/s">deg/s</sui-select-option>
          </sui-select>
        </div>
      </div>
    </div>

    <div class="fields">
      <!-- Radial input -->
      <div class="field"
           suiPopup
           popupText="Velocity value in your desired units">
        <label for="radialVelocityInput">
          Radial Velocity
        </label>
        <div class="ui action input">
          <input id="radialVelocityInput"
                 placeholder="0.000"
                 [ngModel]="pageData.radialVelocity.value.toFixed(3)">
          <sui-select class="selection"
                      title="Radial velocity unit selector"
                      [(ngModel)]="pageData.radialVelocity.unit">
            <sui-select-option value="m/s">m/s</sui-select-option>
            <sui-select-option value="km/s">km/s</sui-select-option>
          </sui-select>
          <sui-select class="selection"
                      title="Radial velocity reference frame selector"
                      [(ngModel)]="pageData.radialVelocityReferenceFrame">
            <sui-select-option value="bar">bar</sui-select-option>
            <sui-select-option value="lsrk">lsrk</sui-select-option>
            <sui-select-option value="topo">topo</sui-select-option>
            <sui-select-option value="hel">hel</sui-select-option>
          </sui-select>
        </div>
      </div>

      <!-- Redshift input -->
      <div class="four wide field"
           suiPopup
           popupText="Astronomical redshift, calculated using the specified velocity convention">
        <label for="zInput">
          Z
        </label>
        <input id="zInput"
               placeholder="0.000000000"
               [ngModel]="pageData.redshift.toFixed(7)">
      </div>

      <!-- Doppler selector -->
      <div class="two wide field"
           suiPopup
           popupText="Doppler calculation convention to be used">
        <label for="dopplerSelect">
          Doppler Type
        </label>
        <sui-select class="selection"
                    id="dopplerSelect"
                    [(ngModel)]="pageData.dopplerType">
          <sui-select-option value="radio">Radio</sui-select-option>
          <sui-select-option value="optical">Optical</sui-select-option>
          <sui-select-option value="relativistic">Relativistic</sui-select-option>
        </sui-select>
      </div>
    </div>
  </div><!-- div *ngIf -->
</div><!-- div.ui.form -->
