<div class="ui two column grid">
  <div class="seven wide column">
    <div class="ui equal width grid">
      <div class="row">
        <div class="column">
          <app-field-setup-segment [title]="'Spatial Image'">
            <spacial-image [resolveCoordinates]="resolveCoordinates"
                           [form]="form"></spacial-image>
          </app-field-setup-segment>

        </div>
      </div>
      <div class="two column row">
        <div class="column">
          <app-field-setup-segment [title]="'FOV Parameters'">
            <fov-parameters></fov-parameters>
          </app-field-setup-segment>
        </div>
        <div class="column">
          <app-field-setup-segment [title]="'Image Query'">
            <image-query></image-query>
          </app-field-setup-segment>
        </div>
      </div>
    </div>
  </div>
  <div class="nine wide column">
    <div class="ui equal width grid">
      <div class="row">
        <div class="column">
          <app-field-setup-segment [title]="'Source'">
            <field-source [form]="form"
                          (resolveEmitter)="resolveCoordinates = $event"></field-source>
          </app-field-setup-segment>
        </div>
      </div>

      <div class="row" style="padding: 0 0 0 0">
        <div class="column">
          <app-field-setup-segment [title]="'Expected Source Properties'">
            <source-expected-properties [form]="form.get('prj_ExpectedProperties')"></source-expected-properties>
          </app-field-setup-segment>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <app-field-setup-segment [title]="'Field Centre Coordinates'">
            <field-center-coordinates [form]="form"></field-center-coordinates>
          </app-field-setup-segment>
        </div>
      </div>
    </div>

  </div>
</div>
