<div class="ui internally celled two column grid">
  <div class="sixteen wide tablet six wide large screen seven wide widescreen column">
    <spacial-image [resolveCoordinates]="resolveCoordinates"
                   [form]="form"></spacial-image>
    <div class="ui grid">
      <div class="sixteen wide large screen eight wide widescreen column">
        <fov-parameters></fov-parameters>
      </div>
      <div class="sixteen wide large screen eight wide widescreen column">
        <image-query></image-query>
      </div>
    </div>
  </div>
  <div class="sixteen wide tablet ten wide large screen nine wide widescreen column">
    <field-source [form]="form" (resolveEmitter)="resolveCoordinates = $event"></field-source>
    <source-expected-properties [form]="form.get('prj_ExpectedProperties')"></source-expected-properties>
    <field-center-coordinates [form]="form"></field-center-coordinates>
  </div>
</div>
