<div class="form-row">
  <label class="col-xl"
         for="freqInput">
    Representative Frequency (Sky)
  </label>
  <input class="col-xl form-control form-control-sm align-self-baseline"
         id="freqInput"
         placeholder="0.000 GHz">
</div>
<div class="form-row">
  <label class="col"
         for="antRadio">
    Antenna Diameter
  </label>
  <label class="col align-self-baseline">
    <input class="form-control-sm mr-2"
           id="antRadio"
           type="radio">
    12m
  </label>
</div>
<div class="form-row">
  <label class="col-xl"
         for="beamInput">
    Antenna Beamsize (HPBW)
  </label>
  <input class="col-xl form-control form-control-sm align-self-baseline"
         id="beamInput"
         placeholder="0.000 arcsec">
</div>
<div class="form-row">
  <label class="col"
         for="beamCheck">
    Show Antenna Beamsize
  </label>
  <input class="col form-control form-control-sm"
         id="beamCheck"
         type="checkbox">
</div>
