<div class="ui internally celled two column stackable grid">
  <div class="ten wide column">
    <h3 class="ui dividing header">Visualisation</h3>
    <app-visualisation-viewer></app-visualisation-viewer>
    <app-visualisation-control (bandsCheckedEmitter)="bandsCheckedChange($event)"
                               (transmissionCheckedEmitter)="transmissionCheckedChange($event)"
                               (densitySelectorEmitter)="densitySelectorChange($event)"
                               (densityRadioEmitter)="densityRadioChange($event)"
                               (resetEmitter)="resetClick()"></app-visualisation-control>
  </div>
  <div class="six wide column">
    <h3 class="ui dividing header">Spectral Type</h3>
    <app-type></app-type>
  </div>
</div>
