<div class="row p-0 m-0">
  <div class="col p-0 m-0">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-secondary" id="showDropdown" ngbDropdownToggle>Show Panel</button>
      <div ngbDropdownMenu aria-labelledby="showDropdown">
        <button class="dropdown-item"
                *ngFor="let component of componentKeys(components)"
                (click)="showPanel(component)"
                [disabled]="components[component].shown">
          {{components[component].title}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row p-0 m-0">
  <div class="col-lg-5 col-xl-4 p-0 m-0" [dragula]="'main'">
    <modular-panel
      [id]="'spatial'"
      [title]="components['spatial'].title"
      [image]="'/assets/img/placeholder.PNG'"
      (hiddenChange)="hiddenChange($event)"
      *ngIf="components['spatial'].shown">
      <spacial-image></spacial-image>
    </modular-panel>
    <div class="row p-0 m-0">
      <div class="col-xl p-0 m-0" [dragula]="'one'" >
        <modular-panel
          [id]="'fov'"
          [title]="components['fov'].title"
          (hiddenChange)="hiddenChange($event)"
          *ngIf="components['fov'].shown"
        style="height: 100%;">
          <fov-parameters></fov-parameters>
        </modular-panel>
      </div>
      <div class="col-xl p-0 m-0" [dragula]="'one'">
        <modular-panel
          [id]="'query'"
          [title]="components['query'].title"
          (hiddenChange)="hiddenChange($event)"
          *ngIf="components['query'].shown"
          style="height: 100%;">
          <image-query></image-query>
        </modular-panel>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-xl-8 p-0 m-0" [dragula]="'main'">
    <modular-panel
      [id]="'field-source'"
      [title]="components['field-source'].title"
      (hiddenChange)="hiddenChange($event)"
      *ngIf="components['field-source'].shown">
      <field-source></field-source>
    </modular-panel>
    <modular-panel
      [id]="'expected'"
      [title]="components['expected'].title"
      (hiddenChange)="hiddenChange($event)"
      *ngIf="components['expected'].shown">
      <source-expected-properties></source-expected-properties>
    </modular-panel>
    <modular-panel
      [id]="'field-centre'"
      [title]="components['field-centre'].title"
      (hiddenChange)="hiddenChange($event)"
      *ngIf="components['field-centre'].shown">
      <field-center-coordinates></field-center-coordinates>
    </modular-panel>
  </div>
</div>
