<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-secondary" id="showDropdown" ngbDropdownToggle>Show Panel</button>
      <div ngbDropdownMenu aria-labelledby="showDropdown">
        <button class="dropdown-item" (click)="showPanel('spatial')">{{components['spatial'].title}}</button>
        <button class="dropdown-item" (click)="showPanel('fov')">{{components['fov'].title}}</button>
        <button class="dropdown-item" (click)="showPanel('query')">{{components['query'].title}}</button>
        <button class="dropdown-item" (click)="showPanel('field-source')">{{components['field-source'].title}}</button>
        <button class="dropdown-item" (click)="showPanel('expected')">{{components['expected'].title}}</button>
        <button class="dropdown-item" (click)="showPanel('field-centre')">{{components['field-centre'].title}}</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col border p-0 m-0">
    <modular-panel
      [id]="'spatial'"
      [title]="components['spatial'].title"
      [image]="'/assets/img/placeholder.PNG'"
      (hiddenChange)="hiddenChange($event)"
      *ngIf="components['spatial'].shown">
      <spacial-image></spacial-image>
    </modular-panel>
  </div>
  <div class="col border m-0 p-0">
    <modular-panel
      [id]="'field-source'"
      [title]="components['field-source'].title"
      (hiddenChange)="hiddenChange($event)"
      *ngIf="components['field-source'].shown">
      <field-source></field-source>
    </modular-panel>
  </div>
</div>

<div class="row">
  <div class="col border m-0 p-0">
    <modular-panel
      [id]="'fov'"
      [title]="components['fov'].title"
      (hiddenChange)="hiddenChange($event)"
      *ngIf="components['fov'].shown">
      <fov-parameters></fov-parameters>
    </modular-panel>
  </div>
  <div class="col border m-0 p-0">
    <modular-panel
      [id]="'expected'"
      [title]="components['expected'].title"
      (hiddenChange)="hiddenChange($event)"
      *ngIf="components['expected'].shown">
      <source-expected-properties></source-expected-properties>
    </modular-panel>
  </div>
</div>
<div class="row">
  <div class="col border m-0 p-0"><modular-panel
    [id]="'query'"
    [title]="components['query'].title"
    (hiddenChange)="hiddenChange($event)"
    *ngIf="components['query'].shown">
    <image-query></image-query>
  </modular-panel></div>
  <div class="col border m-0 p-0">
    <modular-panel
      [id]="'field-centre'"
      [title]="components['field-centre'].title"
      (hiddenChange)="hiddenChange($event)"
      *ngIf="components['field-centre'].shown">
      <field-center-coordinates></field-center-coordinates>
    </modular-panel>
  </div>
</div>
