<div class="row">
  <label class="col-2 col-sm" for="serverInput">Image Server</label>
  <select id=serverInput class="col-10 col-sm form-control form-control-sm">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>

<div class="row">
  <label class="col-2 col-sm" for="imgSizeInput">Image Size (arcmin)</label>
  <input id="imgSizeInput" class="col-10 col-sm form-control form-control-sm align-self-baseline">
</div>

<div class="row justify-content-end">
  <button class="btn btn-outline-secondary">Query</button>
</div>

