<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">Refine Search</div>
    <div class="panel-body">
      <div class="container-fluid">
        <form class="form-inline">
          <!-- Attribute Dropdown -->
          <select #refineSelector class="form-control text-center" title="Attribute">
            <option value="Name">Name</option>
            <option value="Email">Email</option>
            <option value="Uid">ALMA ID</option>
          </select>
          <!-- Search type dropdown -->
          <label (for)="refineInput" style="padding-left: 0.5em; padding-right: 0.5em">contains</label>
          <!-- Text Entry -->
          <input title="refineInput" #refineInput class="form-control" value="{{this.name}}">
        </form>
        <!-- Find Button -->
        <button (click)="refineClick(refineSelector.value, refineInput.value)" class="btn btn-primary pull-right">Find
          Investigator</button>
      </div><!-- container-fluid -->
    </div><!-- panel-body -->
  </div><!-- panel panel-default -->
</div><!-- container-fluid -->
