<form class="form-horizontal">
  <div class="form-group">
    <div class="form-group">
      <label class="col-sm-5" for="freqInput">Representative Frequency (Sky)</label>
      <input class="col-sm-6" id="freqInput" placeholder="0.000 GHz">
    </div>
    <div class="form-group">
      <label class="col-sm-5" for="antRadio">Antenna Diameter</label>
      <label class="col-sm-6"><input id="antRadio" type="radio">12m</label>
    </div>
    <div class="form-group">
      <label class="col-sm-5" for="beamInput">Antenna Beamsize (HPBW)</label>
      <input class="col-sm-6" id="beamInput" placeholder="0.000 arcsec">
    </div>
    <div class="form-group">
      <label class="col-sm-5" for="beamCheck">Show Antenna Beamsize</label>
      <input class="col-sm-6" id="beamCheck" type="checkbox">
    </div>
  </div>
</form>
