<form class="ui three column center aligned grid"
      [formGroup]="parentForm">
  <div class="row">
    <!-- Available lines table -->
    <div class="column">
      <table class="ui basic selectable compact table">
        <thead>
          <tr>
            <th>Transition</th>
            <th>Description</th>
            <th>Rest Frequency</th>
            <th>Sky Frequency</th>
            <th>Upper-state Energy</th>
            <th>Lovas Intensity</th>
            <th>Sij</th>
          </tr>
        </thead>
        <tbody formArrayName="availableLines">
          <tr *ngFor="let line of availableLines.controls; let i=index"
              [class.positive]="selectedLineId === line.value['line_id']"
              (click)="selectedLineId = line.value['line_id']">
            <td *ngIf="i < 10">
              {{line.value.s_name_noparens}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.chemical_name}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.orderedfreq / 1000}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.orderedfreq / 500}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.E_up_K}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.lovas_int}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.sijmu2}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Buttons -->
    <div class="column">
      <div class="ui vertical tiny compact labeled icon buttons">
        <button class="ui blue button"
                (click)="addLine()">
          <i class="angle right icon"></i>
          Add
        </button>
        <button class="ui blue button">
          <i class="angle right double icon"></i>
          Add all
        </button>
        <button class="ui red button">
          <i class="angle left icon"></i>
          Remove
        </button>
        <button class="ui red button">
          <i class="angle left double icon"></i>
          Remove all
        </button>
      </div>
    </div>
    <!-- Selected lines table -->
    <div class="column">
      <table class="ui basic compact table">
        <thead>
          <tr>
            <th>Transition</th>
            <th>Description</th>
            <th>Rest Frequency</th>
            <th>Sky Frequency</th>
            <th>Upper-state Energy</th>
            <th>Lovas Intensity</th>
            <th>Sij</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of selectedLines.controls; let i=index">
            <td *ngIf="i < 10">
              {{line.value.s_name_noparens}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.chemical_name}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.orderedfreq / 1000}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.orderedfreq / 500}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.E_up_K}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.lovas_int}}
            </td>
            <td *ngIf="i < 10">
              {{line.value.sijmu2}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
