<div class="ui fixed sticky tabular menu" style="z-index: 1">
  <a class="item"
     *ngFor="let page of pageKeys(pages)"
     [routerLink]="pages[page].path"
     [class.active]="router.url.indexOf(pages[page].path) > -1">
    {{pages[page].text}}
  </a>
  <div class="right menu"
       *ngIf="router.url.indexOf('field-setup') > -1 && targets !== undefined">
    <div class="link item"
         *ngIf="targets.length > 5"
         [class.disabled]="lowerBound === 0"
         (click)="scrollTargetsDown()">
      <i class="chevron left icon"></i>
    </div>
    <ng-container *ngFor="let target of targets; let i = index">
      <div class="link item"
           *ngIf="i >= lowerBound && i <= upperBound"
           [routerLink]="['field-setup', i]"
           [class.active]="router.url.indexOf('field-setup/'+ i) > -1"
           (click)="changeTarget(i)">
        {{target.prj_sourceName}}
      </div>
    </ng-container>
    <div class="link item"
         *ngIf="targets.length > 5"
         [class.disabled]="upperBound === targets.length - 1"
         (click)="scrollTargetsUp()">
      <i class="chevron right icon">
      </i></div>
    <div class="link item"
         (click)="addNewTarget()"><i class="blue add icon"></i>
    </div>
    <div class="link item"
         (click)="removeTarget()">
      <i class="red delete icon"></i></div>
  </div>
</div>
<p style="height: 1.95em"></p>
<div class="ui bottom attached segment" style="z-index: 0">
  <router-outlet></router-outlet>
</div>
