<form class="ui form" [formGroup]="expectedSourcePropertiesForm">
  <div class="two fields">
    <!-- Peak flux input -->
    <div class="field"
         suiPopup
         [popupTemplate]="peakFluxPopupTemplate">
      <ng-template #peakFluxPopupTemplate>
        Expected peak flux density of source continuum for the <b>weakest</b> source component that you wish to detect
      </ng-template>
      <label for="peakContInput">
        Peak Continuum Flux Density per Synthesized Beam
      </label>
      <div class="ui action input">
        <input id="peakContInput"
               placeholder="0.00000"
               formControlName="continuumFluxDensityValue">
        <sui-select class="selection"
                    formControlName="continuumFluxDensityUnit">
          <sui-select-option value="mjy">mJy</sui-select-option>
          <sui-select-option value="jy">Jy</sui-select-option>
        </sui-select>
      </div>
    </div>

    <!-- Peak line flux input -->
    <div class="field"
         suiPopup
         [popupTemplate]="peakLinePopupTemplate">
      <ng-template #peakLinePopupTemplate>
        Expected peak flux density of line emission relative to the continuum for the <b>weakest</b> source component
        that
        you wish to detect
      </ng-template>
      <label for="peakFluxPerInput">
        Peak Line Flux Density per Synthesized Beam
      </label>
      <div class="ui action input">
        <input id="peakFluxPerInput"
               placeholder="0.00000"
               formControlName="lineFluxDensityValue">
        <sui-select class="selection"
                    formControlName="lineFluxDensityUnit">
          <sui-select-option value="mjy">mJy</sui-select-option>
          <sui-select-option value="jy">Jy</sui-select-option>
        </sui-select>
      </div>
    </div>
  </div>

  <div class="three fields">
    <!-- Line width input -->
    <div class="field"
         suiPopup
         popupText="Expected width of the lines to be observed (FWHM)">
      <label for="lineWidthInput">
        Line Width
      </label>
      <div class="ui action input">
        <input id="lineWidthInput"
               placeholder="0.00000"
               formControlName="lineWidthValue">
        <sui-select class="selection"
                    formControlName="lineWidthUnit">
          <sui-select-option value="m/s">m/s</sui-select-option>
          <sui-select-option value="km/s">km/s</sui-select-option>
        </sui-select>
      </div>
    </div>

    <!-- Line polarization input -->
    <div class="field"
         suiPopup
         popupText="Expected polarization of the line in percent">
      <label for="linePolInput">
        Line Polarization Percentage
      </label>
      <div class="ui right labeled input">
        <input id="linePolInput"
               type="number"
               placeholder="0.0"
               formControlName="linePolarization">
        <div class="ui label">%</div>
      </div>
    </div>

    <!-- Cont polarization input -->
    <div class="field"
         suiPopup
         popupText="Expected polarization of the source in percent">
      <label for="contPolInput">
        Continuum Polarization Percentage
      </label>
      <div class="ui right labeled input">
        <input id="contPolInput"
               type="number"
               placeholder="0.0"
               formControlName="continuumPolarization">
        <div class="ui label">%</div>
      </div>
    </div>
  </div>
</form>
