<div class="ui center aligned grid">
  <div class="column">
    <div class="ui buttons">
      <button class="ui blue button">Pan to Spectral Window</button>
      <button class="ui blue button">Zoom to Band</button>
      <button class="ui blue button" (click)="resetClick()">Reset</button>
    </div>
  </div>
</div>
<div class="ui form">

  <div class="field">
    <label>Overlays</label>
    <sui-checkbox (checkChange)="bandsCheckedChange()" [(ngModel)]="bandsChecked">Receiver Bands</sui-checkbox>
    <sui-checkbox (checkChange)="transmissionCheckedChange()" [(ngModel)]="transmissionChecked">Transmission
    </sui-checkbox>
    <sui-checkbox>DSB Image</sui-checkbox>
    <sui-checkbox>Spectral Lines</sui-checkbox>
    <button class="ui blue button">Select Lines to Overlay</button>
  </div>

  <div class="grouped fields">
    <div class="field">
      <label>Water Vapour Column Density</label>
      <sui-radio-button name="densityRadios"
                        value="automatic"
                        [(ngModel)]="densityRadioChoice"
                        (currentValueChange)="densityRadioChange()">Automatic
      </sui-radio-button>
    </div>
    <div class="field">
      <sui-radio-button name="densityRadios"
                        value="manual"
                        [(ngModel)]="densityRadioChoice"
                        (currentValueChange)="densityRadioChange()">Manual
      </sui-radio-button>
      <sui-select #densitySelector
                  class="selection"
                  [isDisabled]="densityRadioChoice === 'automatic'"
                  (selectedOptionChange)="densitySelectorChange(densitySelector.selectedOption)">
        <sui-select-option *ngFor="let choice of columnDensityChoices; let i = index"
                           [value]="choice">{{choice}}
        </sui-select-option>
      </sui-select>
    </div>

  </div>
</div>
