<div class="row">
  <div class="col-xl btn-group btn-group-sm justify-content-center" role="group">
    <button class="btn btn-outline-secondary">Pan to Spectral Window</button>
    <button class="btn btn-outline-secondary">Zoom to Band</button>
    <button class="btn btn-outline-secondary" (click)="resetClick()">Reset</button>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    <label>Overlays</label>
  </div>
  <div class="col-xl">
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(checked)]="bandsChecked" (change)="bandsCheckedChange()">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Receiver Bands</span>
    </label>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(checked)]="transmissionChecked"
             (change)="transmissionCheckedChange()">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Transmission</span>
    </label>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">DSB Image</span>
    </label>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Spectral Lines</span>
    </label>
    <button class="btn btn-sm btn-outline-secondary">Select Lines to Overlay</button>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    <label>Water Vapour Column Density</label>
  </div>
  <div class="col-xl">
    <label class="custom-control custom-radio">
      <input #autoRadio
             id="automaticRadio"
             name="densityRadios"
             type="radio"
             class="custom-control-input"
             value="automatic"
             [checked]="densityRadioChoice === autoRadio.value"
             (change)="densityRadioChange(autoRadio.value)">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">
        Automatic Choice
      </span>
    </label>
    <label class="custom-control custom-radio">
      <input #manRadio
             id="manualRadio"
             name="densityRadios"
             type="radio"
             class="custom-control-input"
             value="manual"
             [checked]="densityRadioChoice === manRadio.value"
             (change)="densityRadioChange(manRadio.value)">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">
        Manual Choice
      </span>
    </label>
    <select #densitySelector
            class="form-control form-control-sm"
            [disabled]="densityRadioChoice === autoRadio.value"
            (change)="densitySelectorChange(densitySelector.value)">
      <option *ngFor="let choice of columnDensityChoices; let i = index"
              value="{{i+1}}">{{choice}}</option>
    </select>
  </div>
</div>
