<div class="ui form">
  <h5>Proposal Information</h5>
  <div>
    <div class="field">
      <label>Proposal Title</label>
      <input>
    </div>
    <div class="field">
      <label>Proposal Cycle</label>
      <input>
    </div>
    <div class="field">
      <label>Abstract</label>
      <textarea></textarea>
    </div>
    <div>
      <h6>Proposal Type</h6>
      <div class="fields inline" *ngFor="let typeRadio of typeRadios">
        <div class="field">
          <sui-radio-button id="{{typeRadio.id}}"
                            name="typeRadios"
                            value="{{typeRadio.id}}"
                            (change)="chosenType = typeRadio.id">{{typeRadio.text}}</sui-radio-button>
        </div>
      </div>
    </div>
    <div>
      <h6>Scientific Category</h6>
      <div>
        <div>
          <label *ngFor="let categoryRadio of categoryKeys(categoryRadios)">
            <input id="{{categoryRadios[categoryRadio].id}}"
                   name="categoryRadios"
                   type="radio"
                   value="{{categoryRadios[categoryRadio].value}}"
                   (change)="chosenCategory = categoryRadios[categoryRadio].value; selectedKeywords = 0"
                   [checked]="chosenCategory === categoryRadios[categoryRadio].value">
            <span>{{categoryRadios[categoryRadio].text}}</span>
          </label>
        </div>
      </div>
    </div>
    <div>
      <label for="keywordSelector">Keywords (chosen {{selectedKeywords}} of 2)</label>
      <select #keywordSelector
              id="keywordSelector"
              multiple
              (change)="selectedKeywords = keywordSelector.selectedOptions.length">
        <option *ngFor="let option of categoryRadios[chosenCategory].keywords"
                [disabled]="checkKeywords(option, keywordSelector.selectedOptions)">{{option}}
        </option>
      </select>
    </div>
    <div class="field">
      <sui-checkbox>Student project</sui-checkbox>
    </div>
    <div>
      <label>Related Proposals</label>
      <textarea></textarea>
    </div>
    <div>
      <label>Previous Proposals</label>
      <textarea></textarea>
    </div>
  </div>
</div>
<div>
  <h5>Investigators</h5>
  <div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Affiliation</th>
            <th>ALMA ID</th>
            <th>Executive</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PI</td>
            <td>Not Set</td>
            <td>Not Set</td>
            <td>Not Set</td>
            <td>Not Set</td>
            <td>Non-AMLA</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button>Select PI</button>
      <button [disabled]="chosenType === 'regularRadio' || chosenType === 'opportunityRadio'">
        Add CoPI
      </button>
      <button>Add Col</button>
      <button>Remove Collaborator</button>
      <button>Add from Proposal</button>
    </div>
  </div>
</div>
<div>
  <h5>Science Case</h5>
  <div>
    <label>Science Case (Mandatory, PDF, 4 pages max.)</label>
    <div>
      <input>
      <span>
        <button>Attach</button>
      </span>
      <span>
        <button>Detach</button>
      </span>
      <span>
        <button>View</button>
      </span>
    </div>
  </div>
</div>
<div>
  <h5>Duplicate Observations</h5>
  <div>
    <p>Placeholder</p>
    <textarea></textarea>
  </div>
</div>
