<div class="card">
  <h5 class="card-title">Proposal Information</h5>
  <div class="card-body">
    <div class="row form-group">
      <label class="col-2 form-control-label">Proposal Title</label>
      <input class="col form-control">
    </div>
    <div class="row form-group">
      <label class="col-2 form-control-label">Proposal Cycle</label>
      <input class="col form-control">
    </div>
    <div class="row form-group">
      <label class="col-2 form-control-label">Abstract</label>
      <textarea class="col form-control"></textarea>
    </div>
    <div class="card">
      <h6 class="card-title">Proposal Type</h6>
      <div class="card-body row">
        <label class="col custom-control custom-radio">
          <input class="custom-control-input" type="radio">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Regular</span>
        </label>
        <label class="col custom-control custom-radio">
          <input class="custom-control-input" type="radio">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Target of Opportunity</span>
        </label>
        <label class="col custom-control custom-radio">
          <input class="custom-control-input" type="radio">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">VLBI</span>
        </label>
        <label class="col custom-control custom-radio">
          <input class="custom-control-input" type="radio">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Large Program</span>
        </label>
      </div>
    </div>
    <div class="card">
      <h6 class="card-title">Scientific Category</h6>
      <div class="card-body">
        <div class="row justify-content-center">
          <label class="col custom-control custom-radio">
            <input class="custom-control-input" type="radio">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Cosmology and the High Redshift Universe</span>
          </label>
          <label class="col custom-control custom-radio">
            <input class="custom-control-input" type="radio">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Galaxies and the Galactic Nuclei</span>
          </label>
          <label class="col custom-control custom-radio">
            <input class="custom-control-input" type="radio">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">ISM, star formation and astrochemisty</span>
          </label>
        </div>
        <div class="row justify-content-center">
          <label class="col custom-control custom-radio">
            <input class="custom-control-input" type="radio">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Circumstellar disks, exoplanets, and the solar system</span>
          </label>
          <label class="col custom-control custom-radio">
            <input class="custom-control-input" type="radio">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Stellar Evolution and the Sun</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-2 form-control-label">Keywords (max. 2 keywords)</label>
      <select multiple class="col form-control"></select>
    </div>
    <div class="row">
      <label class="col-2 form-control-label">Student Project</label>
      <input class="col form-control" type="checkbox">
    </div>
    <div class="row form-group">
      <label class="col-2 form-control-label">Related Proposals</label>
      <textarea class="col form-control"></textarea>
    </div>
    <div class="row form-group">
      <label class="col-2 form-control-label">Previous Proposals</label>
      <textarea class="col form-control"></textarea>
    </div>
  </div>
</div>
