<div class="ui form container">
  <div class="ui segment">
    <h4 class="ui dividing header">Proposal Information</h4>
    <div class="field">
      <label>Proposal Title</label>
      <input type="text">
    </div>
    <div class="field">
      <label>Proposal Cycle</label>
      <input type="text">
    </div>
    <div class="field">
      <label>Abstract</label>
      <textarea #abstractTextArea rows="5" (keyup)="checkChars(abstractTextArea.value)"></textarea>
      <p>Characters remaining: {{remainingChars}}</p>
    </div>
    <div class="field">
      <label>Related Proposals</label>
      <textarea rows="5"></textarea>
    </div>
    <div class="field">
      <label>Previous Proposals</label>
      <textarea rows="5"></textarea>
    </div>
    <div class="field">
      <label>Student Project</label>
      <sui-checkbox class="toggle"></sui-checkbox>
    </div>
  </div>
  <div class="ui segment">
    <div class="field">
      <h4 class="ui dividing header">Proposal Type</h4>
      <div class="inline fields">
        <div class="field" *ngFor="let typeRadio of typeRadios">
          <sui-radio-button id="{{typeRadio.id}}"
                            name="typeRadios"
                            value="{{typeRadio.id}}"
                            [(ngModel)]="chosenType">
            {{typeRadio.text}}
          </sui-radio-button>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <h4 class="ui dividing header">Scientific Category</h4>
    <div class="inline fields">
      <div class="field" *ngFor="let categoryRadio of categoryKeys(categoryRadios)">
        <sui-radio-button id="{{categoryRadios[categoryRadio].value}}"
                          name="categoryRadios"
                          value="{{categoryRadios[categoryRadio].value}}"
                          [(ngModel)]="chosenCategory"
                          (currentValueChange)="categoryRadioChange()">
          {{categoryRadios[categoryRadio].text}}
        </sui-radio-button>
      </div>
    </div>

    <div class="field">
      <label for="keywordSelector">Keywords (chosen {{selectedKeywordCount}} of 2)</label>
      <sui-multi-select #keywordSelector
                        id="keywordSelector"
                        class="selection"
                        [(ngModel)]="selectedKeywordValues"
                        (maxSelected)="2"
                        (selectedOptionsChange)="keywordsChange()">
        <sui-select-option *ngFor="let option of categoryRadios[chosenCategory].keywords"
                           [value]="option">
          {{option}}
        </sui-select-option>
      </sui-multi-select>
    </div>
  </div>
  <div class="ui segment">
    <h4 class="ui dividing header">Investigators</h4>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Affiliation</th>
          <th>ALMA ID</th>
          <th>Executive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PI</td>
          <td>Not Set</td>
          <td>Not Set</td>
          <td>Not Set</td>
          <td>Not Set</td>
          <td>Non-AMLA</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="6">
            <div class="ui tiny compact right floated buttons">
              <button class="ui blue button"
                      [disabled]="chosenType === 'regularRadio' || chosenType === 'opportunityRadio'">
                Add CoPI
              </button>
              <button class="ui blue button">Add Col</button>
              <button class="ui red button">Remove Collaborator</button>
            </div>
            <button class="ui tiny compact right floated blue button">Add from Proposal</button>
            <button class="ui tiny compact right floated blue button">Select PI</button>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="ui segment">
    <h4 class="ui dividing header">Science Case (Mandatory, PDF, 4 pages max.)</h4>
    <div class="ui fluid mini action input">
      <input type="text">
      <button class="ui tiny blue button">Attach</button>
      <button class="ui tiny basic blue button">View</button>
      <button class="ui tiny red button">Detach</button>
    </div>
    <p>PDF, 4 pages max.</p>
  </div>
  <div class="ui segment">
    <h4 class="ui dividing header">Duplicate Observations</h4>
    <textarea rows="5"></textarea>
  </div>
</div>
