<div class="card d-flex">
  <h5 class="card-title">
    {{title}}
    <button class="btn btn-sm btn-outline-secondary pull-right"
            type="button"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="card-body">
      <i class="fa"
         [class.fa-window-minimize]="!isCollapsed"
         [class.fa-window-maximize]="isCollapsed"></i>
    </button>
    <button class="btn btn-sm btn-outline-secondary pull-right"
            type="button"
            (click)="removeClick()">
      <i class="fa fa-window-close"></i>
    </button>
  </h5>
  <div id="card-body"
       [ngbCollapse]="isCollapsed">
    <img *ngIf="image"
         src="{{image}}"
         class="mx-auto d-block">
    <div class="card-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
