.spectral-focus {
  width: 100%;
  height: 20em;
}

.spectral-context {
  width: 100%;
  height: 6em;
}

.line {
  fill: none;
  stroke: crimson;
  stroke-width: 1.5px;
}

.spectral-focus .axis-label {
  font-weight: bold;
  fill: black;
  text-anchor: middle;
}
