<div class="row">
  <div class="col-xl-3">
    <label>Overlays</label>
  </div>
  <div class="col-xl">
    <!--<label><input type="checkbox" (checked)="bandsChecked" (change)="bandsCheckedChange()">Receiver Bands</label>-->
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(checked)]="bandsChecked" (change)="bandsCheckedChange()">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Receiver Bands</span>
    </label>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(checked)]="transmissionChecked"
             (change)="transmissionCheckedChange()">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Transmission</span>
    </label>
    <selectable type="checkbox">DSB Image</selectable>
    <selectable type="checkbox">Spectral Lines</selectable>
    <button class="btn btn-sm btn-outline-secondary">Select Lines to Overlay</button>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    <label>Water Vapour Column Density</label>
  </div>
  <div class="col-xl">
    <selectable id="automaticRadio" name="densityRadios" type="radio">Automatic Choice</selectable>
    <selectable id="manualRadio" name="densityRadios" type="radio">Manual Choice</selectable>
    <select class="form-control form-control-sm">
      <option *ngFor="let choice of columnDensityChoices">{{choice}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    <label>Viewport</label>
  </div>
  <div class="col-xl btn-group btn-group-sm" role="group">
    <button class="btn btn-outline-secondary">Pan to Spectral Window</button>
    <button class="btn btn-outline-secondary">Zoom to Band</button>
    <button class="btn btn-outline-secondary">Reset</button>
  </div>
</div>
