<div class="field"
     suiPopup
     popupText="Unit of offset pointings">
  <label for="offsetSelector">
    Offset Unit
  </label>
  <sui-select id="offsetSelector"
              class="selection"
              [isDisabled]="radioValue === 'absolute'">
    <sui-select-option *ngFor="let unit of offsetUnits"
                       value="{{unit}}"
                       (selcted)="unit === 'mas'">
      {{unit}}
    </sui-select-option>
  </sui-select>
</div>


<div class="field"
     suiPopup
     popupText="Number of pointings in this field">
  <div class="ui mini statistic">
    <label class="label">
      # Pointings
    </label>
    <p class="value"></p>
  </div>
</div>


<!--<table class="ui celled table"-->
       <!--suiPopup-->
       <!--popupText="Coordinate offsets for each pointing">-->
  <!--<thead>-->
    <!--<tr *ngIf="radioValue === 'relative'">-->
      <!--<th>-->

      <!--</th>-->
      <!--<th>-->

      <!--</th>-->
    <!--</tr>-->
    <!--<tr *ngIf="radioValue === 'absolute'">-->
      <!--<th></th>-->
      <!--<th></th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--<tr *ngFor="let row of data.rows"-->
        <!--(keyup.enter)="log('enter')">-->
      <!--<td contenteditable (blur)="log('blur')">-->
        <!--{{radioValue === 'absolute' ? (row.lon.value | sexagesimal) : (row.lon.value | degrees)}}-->
      <!--</td>-->
      <!--<td contenteditable>-->
        <!--{{radioValue === 'absolute' ? (row.lat.value | sexagesimal) : (row.lat.value | degrees)}}-->
      <!--</td>-->
    <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->


<div class="ui blue icon buttons">
  <button class="ui button"
          (click)="addRow()"
          suiPopup
          popupText="Add a pointing">
    <i class="plus icon"></i>
  </button>
  <button class="ui button"
          (click)="removeRow()"
          suiPopup
          popupText="Remove a pointing">
    <i class="minus icon"></i>
  </button>
  <button class="ui button"
          suiPopup
          popupText="Import pointings">
    <i class="download icon"></i>
  </button>
  <button class="ui button"
          suiPopup
          popupText="Export current pointings">
    <i class="upload icon"></i>
  </button>
</div>


