<form class="ui form"
      [formGroup]="individualForm">

  <div class="field"
       suiPopup
       popupText="Unit of offset pointings">
    <label for="offsetSelector">
      Offset Unit
    </label>
    <sui-select id="offsetSelector"
                class="selection"
                [isDisabled]="radioValue === 'ABSOLUTE'"
                formControlName="offsetUnit">
      <sui-select-option *ngFor="let unit of offsetUnits"
                         value="{{unit}}">
        {{unit}}
      </sui-select-option>
    </sui-select>
  </div>

  <div class="field"
       suiPopup
       popupText="Number of pointings in this field">
    <div class="ui mini statistic">
      <label class="label">
        # Pointings
      </label>
      <p class="value">{{rows.length}}</p>
    </div>
  </div>

  <table class="ui celled table"
         suiPopup
         popupText="Coordinate offsets for each pointing">
    <thead>
      <tr>
        <th>
          Head{{radioValue === 'RELATIVE' ? ' ['+individualForm.value.offsetUnit+']' : null}}
        </th>
        <th>
          Head{{radioValue === 'RELATIVE' ? ' ['+individualForm.value.offsetUnit+']' : null}}
        </th>
      </tr>
    </thead>
    <tbody formArrayName="rows">
      <tr *ngFor="let row of rows.controls; let i=index" [formGroupName]="i">
        <td contenteditable>
          {{row.value.centre.longitude.content}}
        </td>
        <td contenteditable>
          {{row.value.centre.latitude.content}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">
          <div class="ui right floated tiny compact labeled icon buttons">
            <button class="ui blue button"
                    (click)="addRow()"
                    suiPopup
                    popupText="Add a pointing">
              <i class="plus icon"></i>Add
            </button>
            <button class="ui red button"
                    (click)="removeRow()"
                    suiPopup
                    popupText="Remove a pointing">
              <i class="minus icon"></i>Delete
            </button>
            <button class="ui basic blue button"
                    suiPopup
                    popupText="Import pointings">
              <i class="download icon"></i>Import
            </button>
            <button class="ui basic blue button"
                    suiPopup
                    popupText="Export current pointings">
              <i class="upload icon"></i>Export
            </button>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</form>

