<div class="row">
  <div class="col-xl-3">
    <label>Overlays</label>
  </div>
  <div class="col-xl">
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Receiver Bands</span>
    </label>

    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Transmission</span>
    </label>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">DSB Image</span>
    </label>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Spectral Lines</span>
    </label>
    <button class="btn btn-sm btn-outline-secondary">Select Lines to Overlay</button>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    <label>Water Vapour Column Density</label>
  </div>
  <div class="col-xl">
    <label class="custom-control custom-radio">
      <input id="automaticRadio" name="radio" type="radio" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Automatic Choice</span>
    </label>
    <label class="custom-control custom-radio">
      <input id="manualRadio" name="radio" type="radio" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Manual Choice</span>
    </label>
    <select class="form-control form-control-sm">
      <option *ngFor="let choice of columnDensityChoices">{{choice}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    <label>Viewport</label>
  </div>
  <div class="col-xl btn-group btn-group-sm" role="group">
    <button class="btn btn-outline-secondary">Pan to Spectral Window</button>
    <button class="btn btn-outline-secondary">Zoom to Band</button>
    <button class="btn btn-outline-secondary">Reset</button>
  </div>
</div>
