<div class="ui container">

  <div class="ui segment">
    <h4 class="ui dividing header">Configuration Information</h4>

    <div class="ui four column grid">
      <div class="row">
        <div class="column">
          <label>Antenna Beamsize</label>
        </div>
        <div class="column">
          <label>12m</label>
          <input readonly value="0.000000">
        </div>
        <div class="column">
          <label>7m</label>
          <input readonly value="0.000000">
        </div>
      </div>

      <div class="row">
        <div class="column">
          Number of Antennas
        </div>
        <div class="column">
          <label>12m</label>
          <input readonly value="0">
        </div>
        <div class="column">
          <label>7m</label>
          <input readonly value="0">
        </div>
        <div class="column">
          <label>TP</label>
          <input readonly value="0">
        </div>
      </div>
    </div>

    <table class="ui basic celled definition table">
      <thead>
        <tr>
          <th></th>
          <th>ACA 7m Configuration</th>
          <th>Most compact 12m configuration</th>
          <th>Most extended 12m configuration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Longest baseline</td>
          <td>0.00 km</td>
          <td>0.00 km</td>
          <td>0.00 km</td>
        </tr>
        <tr>
          <td>Synthesized beamsize</td>
          <td>0.0000 arcsec</td>
          <td>0.0000 arcsec</td>
          <td>0.0000 arcsec</td>
        </tr>
        <tr>
          <td>Shortest baseline</td>
          <td>0.00 km</td>
          <td>0.00 km</td>
          <td>0.00 km</td>
        </tr>
        <tr>
          <td>Maximum recoverable scale</td>
          <td>0.000 arcsec</td>
          <td>0.000 arcsec</td>
          <td>0.000 arcsec</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ui segment">
    <h4 class="ui dividing header">Desired Performance</h4>
    <form class="ui form">
      <div class="inline fields">
        <label>Desired Angular Resolution (Synthesized Beam)</label>
        <div class="field">
          <sui-radio-button name="resolutionRadios"
                            value="single"
                            [(ngModel)]="chosenRadio">Single
          </sui-radio-button>
        </div>
        <div class="field">
          <sui-radio-button name="resolutionRadios"
                            value="range"
                            [(ngModel)]="chosenRadio">Range
          </sui-radio-button>
        </div>
        <div class="field">
          <sui-radio-button name="resolutionRadios"
                            value="any"
                            [(ngModel)]="chosenRadio">Any
          </sui-radio-button>
        </div>
        <div class="field">
          <sui-radio-button name="resolutionRadios"
                            value="aca"
                            [(ngModel)]="chosenRadio">Standalone ACA
          </sui-radio-button>
        </div>
      </div>


      <div *ngIf="chosenRadio !== 'any'">
        <div class="inline field">
          <div class="ui action input">
            <input>
            <sui-select class="selection"></sui-select>
          </div>
          <div class="ui labeled input" *ngIf="chosenRadio === 'range'">
            <div class="ui basic label" style="border: none">to</div>
          </div>
          <div class="ui action input" *ngIf="chosenRadio === 'range'">
            <input>
            <sui-select class="selection"></sui-select>
          </div>
        </div>

        <div class="field">
          <label>Largest Angular Structure in Source</label>
          <div class="ui action input">
            <input>
            <sui-select class="selection"></sui-select>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Desired sensitivity per pointing</label>
        <div class="ui right labeled action input">
          <input>
          <sui-select class="selection"></sui-select>
          <div class="ui left pointing label">equivalent to {{'infinty k'}}</div>
        </div>
      </div>

      <div class="field">
        <label>Bandwidth used for Sensitivity</label>
        <sui-select class="selection"></sui-select>
      </div>
      <div class="field">
        <label>Frequency width</label>
        <input>
      </div>
    </form>
  </div>

</div>
