  <div class="row btn-toolbar justify-content-center">
    <div class="btn-group mr-2" role="group">
      <button class="btn btn-outline-secondary"><i class="fa fa-folder-open-o"></i></button>
      <button class="btn btn-outline-secondary"><i class="fa fa-save"></i></button>
      <button class="btn btn-outline-secondary"><i class="fa fa-cut"></i></button>
      <button class="btn btn-outline-secondary"><i class="fa fa-square-o"></i></button>
      <button class="btn btn-outline-secondary"><i class="fa fa-times"></i></button>
      <button class="btn btn-outline-secondary"><i class="fa fa-times-circle-o"></i></button>
      <button class="btn btn-outline-secondary"><i class="fa fa-area-chart"></i></button>
    </div>
    <div class="btn-group mr-2" role="group">
      <button class="btn btn-outline-secondary"><i class="fa fa-search-plus"></i></button>
      <button class="btn btn-outline-secondary"><i class="fa fa-search-minus"></i></button>
      <button class="btn btn-outline-secondary"><i class="fa fa-crop"></i></button>
      <button class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <!--<div class="row justify-content-center">-->
    <!--<img class="col img-fluid" #image src="/assets/img/placeholder.PNG">-->
  <!--</div>-->
  <div class="row">
    <form class="col form-inline justify-content-center">

      <div class="input-group">
        <input placeholder="1x" style="width: 2.5em; text-align: center">
        <input placeholder="432, 276" style="width: 6em; text-align: center">
        <input placeholder="0.0" style="width: 6em; text-align: center">
      </div>
    </form>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <label for="filenameNote">Image Filename</label>
      <input id="filenameNote">
    </div>
  </div>
