<div class="ui form">
  <div class="field">
    <label for="serverInput">
      Image Server
    </label>
    <sui-select id=serverInput
                class="selection">
      <sui-select-option value="1">1</sui-select-option>
      <sui-select-option value="2">2</sui-select-option>
      <sui-select-option value="3">3</sui-select-option>
      <sui-select-option value="4">4</sui-select-option>
    </sui-select>
  </div>
  <div class="field">
    <label for="imgSizeInput">Image Size (arcmin)</label>
    <input id="imgSizeInput"
           type="number">
    <button class="ui right floated tiny compact blue labeled icon button"><i class="search icon"></i> Query</button>
  </div>
</div>


