<h4 class="ui dividing header">Search Constraints</h4>
<div class="ui form">
  <div class="inline field">
    <sui-select #refineSelector
                class="selection">
      <sui-select-option value="name">Name</sui-select-option>
      <sui-select-option value="email">Email</sui-select-option>
      <sui-select-option value="affiliation">Affiliation</sui-select-option>
      <sui-select-option value="uid">ALMA ID</sui-select-option>
    </sui-select>

    <label>contains</label>

    <input type="text"
           #refineInput>
  </div>
</div>


<button class="ui tiny compact right floated blue labeled icon button"
        (click)="refineClick(refineSelector.value, refineInput.value)">
  <i class="search icon"></i>
  Find Investigator
</button>


