<h4 class="ui dividing header">Search Constraints</h4>
<div class="ui form">
  <div class="inline field">
    <sui-select #refineSelector
                class="selection"
                [(ngModel)]="searchType">
      <sui-select-option value="Name">Name</sui-select-option>
      <sui-select-option value="Email">Email</sui-select-option>
      <sui-select-option value="ALMA ID">ALMA ID</sui-select-option>
    </sui-select>

    <label>contains</label>

    <input type="text"
           title="refine input box"
           value="{{name}}">
  </div>
</div>


<button class="ui tiny compact right floated blue labeled icon button"
        (click)="refineClick()">
  <i class="search icon"></i>
  Find Investigator
</button>
<p></p>


