<div class="ui form">
  <div class="field">
    <label for="freqInput">Representative Frequency (Sky)</label>
    <input id="freqInput"
           placeholder="0.000 GHz">
  </div>
  <div class="three fields">
    <div class="field">
      <label>Antenna Diameter</label>
      <sui-radio-button name="antennaSizeRadios">12m</sui-radio-button>
    </div>
    <div class="field">
      <label for="beamInput">Antenna Beamsize (HPBW)</label>
      <input id="beamInput"
             placeholder="0.000 arcsec">
    </div>
    <div class="field">
      <sui-checkbox>Show Antenna Beamsize</sui-checkbox>
    </div>
  </div>
</div>
