<div class="ui form">
  <div class="field">
    <label for="freqInput">Representative Frequency (Sky)</label>
    <div class="ui right labeled input">
      <input id="freqInput"
             placeholder="0.000">
      <div class="ui label">GHz</div>
    </div>
  </div>
  <div class="field">
    <label for="beamInput">Antenna Beamsize (HPBW)</label>
    <div class="ui right labeled input">
      <input id="beamInput"
             placeholder="0.000 arcsec">
      <div class="ui label">arcsec</div>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Antenna Diameter</label>
      <sui-radio-button name="antennaSizeRadios"
                        value="12">
        12m
      </sui-radio-button>
    </div>
    <div class="field">
      <label>Show Antenna Beamsize</label>
      <sui-checkbox></sui-checkbox>
    </div>
  </div>
</div>
