<h4 class="ui dividing header">Field Centre Coordinates</h4>
<form class="ui form"
      [formGroup]="form">
  <div class="three fields">
    <div class="field">
      <label>Coord Type</label>
      <sui-radio-button name="coordTypeRadios"
                        value="RELATIVE"
                        [(ngModel)]="coordType"
                        [ngModelOptions]="{standalone: true}">Relative
      </sui-radio-button>
      <sui-radio-button name="coordTypeRadios"
                        value="ABSOLUTE"
                        [(ngModel)]="coordType"
                        [ngModelOptions]="{standalone: true}">Absolute
      </sui-radio-button>
    </div>

    <!--Target type radios-->
    <div class="field">
      <label>Target Type</label>
      <sui-radio-button name="targetTypeRadios"
                        value="F_MultiplePoints"
                        formControlName="type">Individual Pointing(s)
      </sui-radio-button>
      <sui-radio-button name="targetTypeRadios"
                        value="F_SingleRectangle"
                        formControlName="type">Rectangular Field
      </sui-radio-button>
    </div>

    <div class="field">
      <div *ngIf="form.value.type === 'F_MultiplePoints';
                  then individualStatistic
                  else rectangularStatistic"></div>
      <ng-template #individualStatistic>
        <label></label>
        <div class="ui small horizontal statistic">
          <div class="value">{{singlePoint.length}}</div>
          <label class="label">
            Pointings
          </label>
        </div>
      </ng-template>
      <ng-template #rectangularStatistic>
        <label># Pointings</label>
        <div class="ui mini horizontal statistic">
          <div class="value">0</div>
          <div class="label">7m Array</div>
        </div>
        <div class="ui mini horizontal statistic">
          <div class="value">0</div>
          <div class="label">12m Array</div>
        </div>
      </ng-template>
    </div>
  </div>


  <div *ngIf="form.value.type === 'F_MultiplePoints';
  then individualComponent
  else rectangularComponent"></div>


  <ng-template #individualComponent>
    <!--<form class="ui form">-->
    <div class="field"
         suiPopup
         popupText="Unit of offset pointings">
      <label for="offsetSelector">
        Offset Unit
      </label>
      <sui-select id="offsetSelector"
                  class="selection"
                  [(ngModel)]="offsetUnit"
                  [ngModelOptions]="{standalone: true}">
        <sui-select-option *ngFor="let unit of offsetUnits"
                           value="{{unit}}">
          {{unit}}
        </sui-select-option>
      </sui-select>
    </div>

    <div formArrayName="SinglePoint">
      <div *ngFor="let pointing of singlePoint.controls; let i = index" [formGroupName]="i">
        <div class="two fields" formGroupName="centre">
          <div class="field" formGroupName="longitude">
            <label *ngIf="i === 0">Lon</label>
            <div class="ui small labeled input">
              <div class="ui blue label">{{i + 1}}</div>
              <input formControlName="content">
            </div>
          </div>
          <div class="field" formGroupName="latitude">
            <label *ngIf="i === 0">Lat</label>
            <div class="ui small action input">
              <input formControlName="content">
              <button class="ui tiny compact red icon button"
                      type="button"
                      (click)="removePointing(i)">
                <i class="remove icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="ui right floated tiny compact blue labeled icon button"
            type="button"
            (click)="addPointing()">
      <i class="plus icon"></i>Add pointing
    </button>
  </ng-template>


  <ng-template #rectangularComponent>
    <div class="three fields">
      <div class="field">
        <!-- System Selector -->
        <label>System</label>
        <div class="inline field">
          <sui-select class="selection"
                      (selectedOptionChange)="systemChange()">
            <sui-select-option *ngFor="let system of systemService.getSystems()"
                               value="{{system}}"></sui-select-option>
          </sui-select>
          <sui-checkbox>Sexagesimal Units</sui-checkbox>
        </div>
      </div>

      <!-- Lon offset input -->
      <div class="field">
        <div *ngIf="radioValue === 'ABSOLUTE'; then absoluteLonLabel else relativeLonLabel"></div>
        <div class="field">
          <ng-template #absoluteLonLabel>
            <label>
              {{sexagesimalUnits ? chosenSystem.sexagesimalLabels.lonLabel : chosenSystem.normalLabels.lonLabel}}
            </label>
          </ng-template>
          <ng-template #relativeLonLabel>
            <label>
              Offset(Lon)
            </label>
          </ng-template>
          <div class="ui action input">
            <input>
            <sui-select class="selection"
                        *ngIf="radioValue === 'RELATIVE'">
              <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
            </sui-select>
          </div>
        </div>
      </div>

      <!-- Lat offset input -->
      <div class="field">
        <div *ngIf="radioValue === 'ABSOLUTE'; then absoluteLatLabel else relativeLatLabel"></div>
        <ng-template #absoluteLatLabel>
          <label>
            {{sexagesimalUnits ? chosenSystem.sexagesimalLabels.latLabel : chosenSystem.normalLabels.latLabel}}
          </label>
        </ng-template>
        <ng-template #relativeLatLabel>
          <label>
            Offset(Lat)
          </label>
        </ng-template>
        <div class="ui action input">
          <input>
          <sui-select class="selection"
                      *ngIf="radioValue === 'RELATIVE'">
            <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
          </sui-select>
        </div>
      </div>
    </div>

    <div class="three fields">
      <!-- p length input -->
      <div class="field">
        <label>
          p length
        </label>
        <div class="ui action input">
          <input placeholder="0.00000"
                 type="number">
          <sui-select class="selection">
            <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
          </sui-select>
        </div>
      </div>

      <!-- q length input -->
      <div class="field">
        <label>
          q length
        </label>
        <div class="ui action input">
          <input placeholder="0.00000"
                 type="number">
          <sui-select class="selection">
            <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
          </sui-select>
        </div>
      </div>

      <!-- Position angle -->
      <div class="field">
        <label>
          Position Angle
        </label>
        <div class="ui action input">
          <input placeholder="0.00000"
                 type="number">
          <sui-select class="selection">
            <sui-select-option *ngFor="let unit of offsetUnits" value="{{unit}}">{{unit}}</sui-select-option>
          </sui-select>
        </div>
      </div>
    </div>

    <!-- Spacing input -->
    <div class="field">
      <label>
        Spacing
      </label>
      <div class="ui right action input">
        <input placeholder="0.51093"
               type="number">
        <sui-select class="selection">
          <sui-select-option value="fraction of main beam">Fraction of antenna beamsize</sui-select-option>
          <sui-select-option value="arcsec">arcsec</sui-select-option>
        </sui-select>
      </div>
      <div class="ui right floated tiny compact blue labeled icon buttons">
        <button
          class="ui button">
          <i class="refresh icon"></i>Reset to Nyquist
        </button>
        <button class="ui button">
          <i class="upload icon"></i> Export
        </button>
      </div>
    </div>
  </ng-template>
</form>
