<div class="ui segment">
  <h4 class="ui dividing header">Principal Investigator</h4>
  <div class="ui fluid action input">
    <input #piSearchInput
           id="pi-search-txt-box"
           type="text"
           (keyup)="0"
           placeholder="{{this.passedPi ? null : this.INPUT_PLACEHOLDER}}"
           value="{{this.passedPi ? this.passedPi.fullName : null}}"
           [disabled]="this.passedPi">
    <a id="pi-search-submit-btn"
       class="ui blue button"
       [routerLink]="['/pi-results', {Name: passedPi ? passedPi.fullName : piSearchInput.value}]">
      SelectPI
    </a>
  </div>
</div>
