<div class="row">
  <label class="col-xl-4 text-xl-right"
         for="systemSelector"
         ngbTooltip="Coordinate system type"
         #systemSelectorTooltip="ngbTooltip"
         [tooltip-delay]="systemSelectorTooltip">
    System
  </label>
  <div class="col-xl-8 pl-0 pr-0 input-group align-self-baseline ">
    <select id="systemSelector"
            class="form-control form-control-sm"
            [(ngModel)]="chosenSystem"
            (ngModelChange)="systemChange()">
      <option *ngFor="let system of systemKeys(systems)"
              [value]="system">
        {{system}}
      </option>
    </select>
    <label class="input-group-addon custom-control custom-checkbox mr-0"
           placement="right"
           ngbTooltip="Sexagesimal display"
           #sexagesimalCheckboxTooltip="ngbTooltip"
           [tooltip-delay]="sexagesimalCheckboxTooltip">
      <input id="sexagesimalCheck"
             class="custom-control-input"
             type="checkbox"
             title="sexagesimal checkbox"
             [(ngModel)]="sexagesimalUnits"
             [disabled]="sexagesimalDisabled"
             (change)="sexagesimalChange()">
      <span class="custom-control-indicator ml-2 mt-1"></span>
    </label>
  </div>
</div>
